[2016-03-16 11:35] staskochkin opened #1 "Crash in FBLogger"
I get crash when FBAdConfigManager try to load configuration from storage

[2016-03-16 16:31] jch7557 commented on #1
Similar issue was reported and Facebook team looked and fixed it in its 4.10.1 iOS SDK. Please upgrade the SDK and try it again. For detail, please refer to link here: https://developers.facebook.com/bugs/1691622177774648/.

[2016-03-16 16:31] #1 closed

[2016-03-23 13:49] dmitruss opened #2 "problem with banner viewvability"
![pasted_image_at_2016_03_12_12_03_am_720](https://cloud.githubusercontent.com/assets/1777197/13987125/1f9a130c-f117-11e5-9c1e-5f24c86adce4.png)

[2016-03-23 13:49] dmitruss commented on #2
SDK 4.10.1

[2016-03-23 17:47] jch7557 commented on #2
Hi dmitruss,

Thanks for sharing your integration issue.
As I can take a guess from the screen shot, it relates to ad refresh.
For us to look into the issue, can you please provide a code snippet on demo the integration and issue? We can start from there.

[2016-03-31 18:04] saintjab opened #3 "Using Native Ads in UITableView"
This is not an issue, I just need help with implementing Native Ads in UITableView. I am implementing about 5 Native Ads in a tableview. How do I registerViewForInteraction for all the ads in the tableview? I am loading different ad at different indexPath and on didSelectRowAtIndexPath, I want to register the view for interaction but its not working.

[2016-04-01 04:15] jch7557 commented on #3
To use this feature correctly, the native ad has to be unregistered from previous view like:
[self.nativeAd unregisterView];

Then register the specific view like this:
[nativeAd registerViewForInteraction:self.adUIView withViewController:self];

The Facebook SDK contains a tutorial sample project which includes a TableView demo. The detail can be referred in the SDK under Samples/FBAudienceNetwor

[2016-04-01 04:15] #3 closed

[2016-04-01 13:44] saintjab commented on #3
Hi @jch7557, thanks for the pointer. Unfortunately, I am using ASCellNode and ASTableView from The AsyncDisplayKit and because I am using customised Cells for the table, I need to manually capture the click events of each cell to determine the type and fire the appropriate method. Anyway I can manually handle the clicks? Thanks

[2016-04-26 23:18] #2 closed

[2016-06-06 20:37] Shuky opened #4 "Lack of more elaborate examples / SOA patterns"
I'm trying to integrate into angular and looking for guides to help me understand what functions / events should I call / fire when dynamically creating multiple ad divs, and really struggling to find examples.

[2016-06-07 17:07] jch7557 commented on #4
Hi Shuky,

Currently Audience Network does not have sample code for angular.
Depends on the implementation, if you are planning to use AN in web page, then mobile web samples are the way, if you are planning to use AN in an app, probably Android samples may get you started.
If you have or provide more details or specific use case, I can try provide some helpful feedback.

[2016-06-07 17:35] Shuky commented on #4
I'm actually interested in any rich js client implementation where the two
use cases thay interest me the most are:

1) Creating ads dynamically -  for example how do I integrate ad placements
in an endless feed.

2) reloading the same placement id when moving between views (where the dom
gets rewritten, but the page doesn't refresh)

In general, I think that what I'm really missing is sdk documen

[2016-06-08 18:20] jch7557 commented on #4
Hi Shuky,

(1) Audience Network JS SDK is a very simple one.
The ad tag can be added into the html by JS code.
In general, once the ad tag is added into html and requires browser to parse, the Audience Network js will invoked to parse the ad tag and a new ad is loaded.

We have many publishers doing this way and have no problems.

(2) When the dom update does not involve re-parse, then placement i

[2016-06-08 21:06] Shuky commented on #4
Hi, it is indeed a simple one and I've integrated it and it does display an
ad for the first item I populate on window.load, but it doesn't work when
dynamically populating divs again after that...
See this short gist that explains what I mean:
https://gist.github.com/Shuky/339fd382b2e0905e3947f625f78c6184

On Wed, Jun 8, 2016 at 9:20 PM jch7557 <notifications@github.com> wrote:

[2016-06-08 21:32] jch7557 commented on #4
Hi Shuky,

Just read the js script. I believe this will not working as you confirmed. The timer is to rewrite the js script. The correct way is to update or make change to the DIV with fb-ad tag, not the script. The js script only need to be added once, no need to rewrite again. Also please make sure the <script id="facebook-jssdk" src="..."> exists in the <HEAD>.

[2016-06-09 02:04] Shuky commented on #4
the?

[2016-06-09 16:25] jch7557 commented on #4
Sorry about cut-off.

Also please make sure the js code <script id="facebook-jssdk" src="..."></script> exists in the <head>.

[2016-06-09 19:41] Shuky commented on #4
Sorry, I didn't understand what you mean.
Let me refrase my question:
Is there a way to create a timer that generate an additional ad on the page
every X seconds without doing a full page refresh? If so, can I get a code
snippet on how this is done?

On Thu, Jun 9, 2016 at 7:25 PM jch7557 <notifications@github.com> wrote:

[2016-09-21 05:51] MirindaLiu opened #6 "call SDK get AD Fail ，crash."
0  messagebirds                   0x10034d67c -[CTBanner nativeAd:didFailWithError:](CTBanner.m:1083)
1  messagebirds                   0x100309a64 -[FBNativeAd displayAdController:didFailWithError:](FBNativeAd.m:330)
2  messagebirds                   0x1002cb67c -[FBDisplayAdController notifyAdError:](FBDisplayAdController.m:322)
3  messagebirds                   0x1002cd438 -[FBDisplayAdControll

[2016-09-21 07:30] MirindaLiu commented on #6
DAU：20000+      crash：5000+

[2017-02-01 16:14] mnjit opened #18 "callback for facebook unfill"
How can we get the callback when we get facebook audience network unfill error, is there any way?

[2017-02-01 19:24] jch7557 commented on #6
Please try the latest SDK and provide the feedback if the same issue is observed.

[2017-02-01 19:24] #6 closed

[2017-02-01 19:33] jch7557 commented on #18
When you are using native for mobile app, you can subscribe to native ad notification and receive notification if ad loading failed. You can perform error handling from there.

For iOS, please refer to:

- (void)nativeAd:(FBNativeAd *)nativeAd didFailWithError:(NSError *)error.

For Android, please refer to:

nativeAd.setAdListener(new AdListener() {
    @Override
    public void onError(Ad ad, Ad

[2017-02-01 19:33] #18 closed

[2017-02-13 07:51] mnjit commented on #18
Hi @jch7557 thanks for your reply; but how we can handle it in case of web.

[2017-04-13 13:55] BaxterZA opened #25 "Context leak in banner"
I checked banner [sample](https://github.com/fbsamples/audience-network/blob/master/samples/android/Banner/app/src/main/java/com/sample/banner/BannerActivity.java)
Add method to start new activity:
`public void finish(View view) {
        Intent intent = new Intent(this, BannerActivity.class);
        finish();
        overridePendingTransition(0, 0);
        startActivity(intent);
}`
And old acti

[2017-04-23 13:34] KChavda18 opened #26 "Unknown Error : Banner Ad"
Code Implementation :
AdView adView = new AdView(this, "271995593270465_271996219937069", AdSize.BANNER_HEIGHT_50);//438544203147216_438545493147087
        AdSettings.addTestDevice(hashKey());
        adViewContainer.addView(adView);
        adView.setAdListener(new AdListener() {
            @Override
            public void onError(Ad ad, AdError adError) {
                Toast.makeText(MainAc

[2017-05-02 18:24] L33tcodex0r commented on #26
271995593270465_271996219937069 is not valid, it doesn't belong to a valid app.

[2017-05-02 18:24] #26 closed

[2017-05-26 09:02] sumbganesh opened #29 "Request new ad in recyclerview."
I have implemented ads in reycylerview in every 10th position. but when the ad loads, it display same ad in every position. How can i request new ad for new postion?

[2017-06-05 03:53] zuijinbuzai opened #30 "AudienceNetworkActivity AsyncTask blocked"
com.facebook.android:audience-network-sdk:4.23.0
AudienceNetworkActivity
var3.executeOnExecutor(AsyncTask.THREAD_POOL_EXECUTOR, new String[]{var1});
It will blocked the Other lib who used AsyncTask, pls fix it.

[2017-06-05 08:21] zuijinbuzai commented on #30
sorry, I found the wrong place, It should be sdk use the AsyncTask SerialExecutor blocked for a long time. if I delete the sdk, It is ok in the place lib use AsyncTask not blocked.

[2017-06-05 10:16] fransanchez commented on #30
Hey @zuijinbuzai, thanks for reporting this issue, could you provide more information about the Android API version where you are experiencing it please? That will help us narrow it down.
Thank you!

[2017-06-07 08:10] phzhou commented on #29
Hi @sumbganesh please download the Facebook SDK from https://developers.facebook.com/docs/android
It includes the Audience Network SDK and includes a NativeAdSample project that demonstrate your use case. Thanks!

[2017-06-07 08:10] #29 closed

[2017-06-09 09:52] phzhou commented on #25
Hi @BaxterZA! In the latest version of the audience network SDK, a few potential memory leaks were fixed: https://developers.facebook.com/docs/android/change-log-4x
Can you try to upgrade to the latest version and see if the issue you have is being fixed?
Thanks!

[2017-06-29 07:20] ankitbatra11 opened #31 "The parameter PLACEMENT_ID is required"
Hi,
Native ads aren't loading anymore with latest version of audience network 4.24.0. I am getting below error code and message:

`errorCode=1203 message=(#100) The parameter PLACEMENT_ID is required`

and this is how I create my native ad:

`nativeAd = new NativeAd(context, id /* placement ID */);`

[2017-07-03 08:16] BaxterZA opened #32 "On some device (Lenovo Phab Plus 5.0.2, genymotion 5.0.0) rewarded video don't start and back button locked"
In logcat:
07-03 11:06:19.461 13663-13663/com.my.test E/MediaPlayer: Should have subtitle controller already set
07-03 11:06:19.463 7291-7616/? D/NuPlayerDriver: start(0xf2e0c340)
07-03 11:06:19.463 7291-13837/? I/GenericSource: start
07-03 11:06:19.705 7291-13860/? E/OMXNodeInstance: OMX_GetExtensionIndex OMX.google.android.index.storeMetaDataInBuffers failed
07-03 11:06:20.056 7291-13860/? E/ACo

[2017-07-07 07:19] phzhou commented on #31
Hi @ankitbatra11 can you reproduce the bug in the Native Ad sample included in the 4.24 SDK?
https://developers.facebook.com/docs/android

If not can you try to post more details of your code, how the ad is loaded and rendered, or try to attach a sample that can reproduce the problem you described?

Thanks

[2017-07-07 08:05] ankitbatra11 commented on #31
I can reproduce the issue with 4.24.

[2017-07-13 09:35] syedrazackimran opened #33 "delegate not calling"
i try to implement audience-network ..! but delegate not calling !

[2017-07-17 12:22] sumbganesh opened #34 "Same ad is shown in RecyclerView."
I am using native ads in recyclerview. but FAN shows same ad in all positions. Is there any way I can put new ad in every postion of my recyclerview?

[2017-07-26 09:23] LazyBonesLZ opened #36 "Banner load first time always failed."
I integrated Android FAN v4.24.0 SDK as docs says,but I found when first time to call "adView.loadAd()"(adView is a Adview Object), always received error 1001:" No fill,We are not able to serve ads to this person. Please refer to https://developers.facebook.com/docs/audience-network/faq#a12. If you are integrating Audience Network for the first time, you can use test ads https://developers.faceboo

[2017-07-31 03:33] yandesheng opened #37 "No static field notification_template_lines of type I in class Lcom/duanqu/qupainilui/R$layout;"
hello ,I want to confirm a question。
audience-network inside Appcompat-v7a？  version is 25.3.1.
But our version is 24. How to solve this？ all the versions must correspond to it？

[2017-08-02 05:47] phzhou commented on #33
Hi @syedrazackimran would you mind post more details for your question? Code snippets or sample project would help us trying to understand the problem. Thanks!

[2017-08-02 05:55] phzhou commented on #37
Hi @yandesheng unfortunately yes we require that specific version to make use of the compile tools and utilities in 25.

[2017-08-02 05:55] #37 closed

[2017-08-02 06:13] phzhou commented on #36
Hi @LazyBonesLZ are you still able to reproduce the same issue in the SDK version 4.25.0?

[2017-08-02 06:37] phzhou commented on #34
Hi @sumbganesh if you download the SDK from the Facebook developer site https://origincache.facebook.com/developers/resources/?id=audience-network-sdk-4.25.0.zip
There is a native ad sample and one of the use case shows how to load ads in a RecyclerView.
Thanks!

[2017-08-02 06:37] #34 closed

[2017-08-02 06:38] phzhou commented on #31
Hi @ankitbatra11 can you post more complete code so we can better understand what's happening?

[2017-08-02 06:38] #30 closed

[2017-08-02 12:02] ankitbatra11 commented on #31
It was an issue with canary Android studio and custom plugins. Using the latest stable release without Jack compiler solved the issue for me.

[2017-08-02 12:02] #31 closed

[2017-08-07 01:35] LazyBonesLZ commented on #36
@phzhou seems be fixed in the SDK v4.25.0

[2017-08-07 02:37] phzhou commented on #36
Thanks for confirming @LazyBonesLZ

[2017-08-07 02:37] #36 closed

[2017-08-08 03:14] #33 closed

[2017-08-08 09:49] garastard opened #38 "After clicking on the interstitial's link, interstitial does't close."
After clicking on the interstitial's link, interstitial doesn't close. This is the reason for interstitial remains visible when you return to the application after the browser is closed. How can I fix it?

[2017-08-12 06:02] girubhai opened #39 "Updated Ads Gradle logged by ES File Explorer"
Recently update gradle version to 4.25.0 as

[code]
Now ES File explorer's logger log the ads when Native Ads is being display which is irritating.
Note :  I am also using Google Native Express Ads but it is not logging. Please check.

To be more Clear :

ES File Explorer App having logger facility to show bubble at top of others app while media downloaded by Apps.Now I am using both Facebook Nati

[2017-08-14 03:58] phzhou commented on #39
Hi @girubhai I don't think this is issue for SDK integration or showing ads in your app?
There might be changes in this area but I think at the moment this is less priority than other issues

[2017-08-14 04:04] phzhou commented on #38
Hi @garastard this is typical ad experience for interstitials.
If you really want to change it in your app then maybe you can make use of the callback functions in the `InterstitialAdListener`

[2017-08-14 04:33] girubhai commented on #39
@phzhou Thanks to reply.
It is serious issue because now a days most of users use ES File explorer app and  in my app if ES File Explorer will float with media download then user will not use my app.
So I have two option, either we include FB Advt or we should publish without.

Note : As I shared previously, On Google/Admob Native expressed Ad float is not appearing.

Once again thank you.

[2017-08-14 04:57] phzhou commented on #39
Can you share some screenshots of what you described? Thanks!

[2017-08-14 05:26] girubhai commented on #39
@phzhou  PFA
![fb ad issue](https://user-images.githubusercontent.com/3602562/29259246-d2d40ed4-80de-11e7-9e6d-664d006fdf76.jpg)

It was not as issue while using dependency version **4.10.1** but I have to update because of FB will not render ads on previous versions.

[2017-08-18 11:18] girubhai commented on #39
@phzhou Did you check this?

[2017-08-22 03:32] LazyBonesLZ opened #41 "Crash when show interstitial"
I tested with official demo(FAN SDK v4.25.0) on my SAMSUNG Tablet, if the interstitial ad is "mp4" format,sometimes crash.
**Here is my device info**:
   Samsung SM-T710
   Android 5.0.2
   API 21
**Crash log**:
[Crash_log.txt](https://github.com/fbsamples/audience-network/files/1240687/Crash_log.txt)

[2017-08-22 08:25] Dukichtre93 opened #42 "Crash when show interstitial very much."
Fatal Exception: java.lang.ArithmeticException: divide by zero
       at com.facebook.ads.internal.view.d.b.i$2.a(Unknown Source)
       at com.facebook.ads.internal.view.d.b.i$2.a(Unknown Source)
       at com.facebook.ads.internal.g.r.b(Unknown Source)
       at com.facebook.ads.internal.g.r.a(Unknown Source)
       at com.facebook.ads.internal.view.o$1.run(Unknown Source)
       at android.os.H

[2017-08-23 02:13] ljwan12 commented on #42
same with me,so many crash

[2017-09-05 05:14] phzhou commented on #41
Hi @LazyBonesLZ there is a known issue on the SDK version 4.25, there is some cases where there is a race condition in the code which leads to this "divide by zero" crash.
This will be fixed in SDK version 4.26 which is to be published soon, or you can revert back to the more stable SDK of version 4.23 for the time being.
Thanks!

[2017-09-05 05:14] #41 closed

[2017-09-05 05:16] phzhou commented on #42
Hi @Dukichtre93 and @ljwan12
There is a known issue in the 4.25 version of the SDK, at some cases there would be a racing condition causing this "divide by zero" crash. This will be fixed in the 4.26 version which will be published in a few days, or at the same time you can revert back to a more stable version of 4.23 before 4.26 is published.
Thanks!

[2017-09-05 05:16] #42 closed

[2017-09-05 05:18] #38 closed

[2017-09-13 08:25] Baobomb opened #46 "NPE Attempt to invoke virtual method 'com.facebook.ads.internal.view.d.c.d com.facebook.ads.internal.view.j.getState()'"
Hi, it happened when inflate ViewGroup with MediaView.
Then get
D/crash: android.view.InflateException: Binary XML file line #45: Error inflating class com.facebook.ads.MediaView
                                              at android.view.LayoutInflater.createView(LayoutInflater.java:633)
                                              at android.view.LayoutInflater.createViewFromTag(LayoutInflate

[2017-09-14 17:40] phzhou commented on #46
Hi @Baobomb can you let us know more details about your problem?
Which SDK version are you using?
What is your inflate process?
If you can provide code snippets that you were able to reproduce the problem that would be great help!
Thanks

[2017-09-16 12:48] Baobomb commented on #46
SDK version : 4.25.0
It happend when try to inflate layout which include
MediaView.

[2017-09-23 21:27] dat0106 commented on #42
...

[2017-09-29 07:04] lizhiwei92 opened #47 "Crash when i show rewardedVideo"
1. Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'void com.facebook.ads.internal.util.af.a(android.view.MotionEvent, android.view.View, android.view.View)' on a null object reference
	at com.facebook.ads.internal.view.l$1.a(Unknown Source)
	at com.facebook.ads.internal.view.l$1.a(Unknown Source)
	at com.facebook.ads.internal.g.r.b(Unknown Source)
	at com.facebook.ads.

[2017-09-29 09:12] lizhiwei92 commented on #47
by the way, the sdk version is 4.23

[2017-10-09 11:58] vmalykhin commented on #46
Happening on Android 4.x and 5.x devices using `audience-network-sdk:4.26.0`. Not reproduced on v.4.23.0, looks like the issue was introduced in 4.24.0.

[2017-10-16 06:00] reiterp-avs commented on #46
@Baobomb Do you set the MediaView visibility attribute in your layout? In case you do, maybe you can avoid the NPE by not setting it and set it at runtime, after the view is inflated.

[2017-10-23 07:43] phzhou commented on #46
Hi @Baobomb @vmalykhin unfortunately we weren't able to reproduce the problem. Would you mind provide a sample project so we can try to reproduce the problem? Thanks!

[2017-10-23 07:49] phzhou commented on #47
Hi @lizhiwei92 have you tried to reproduce the issues with a newer version of the SDK?

[2017-10-23 07:49] reiterp-avs commented on #46
Hi, I have already reported the bug here https://developers.facebook.com/bugs/2003665309903654/ and the bug report includes sample.

[2017-10-24 10:12] threat70 opened #51 "Update podspec"
Hi!
What about update FBAudienceNetwork podspec to 4.27+ ? I suggest that you fixed iOS 11 issue here, and I want to update it through cocoapods.

Thanks

[2017-11-23 01:39] zuijinbuzai commented on #30
@fransanchez
I'm in China，the AsyncTask will blocked by the network for a long time no response, if open vpn, it will be ok.
 version 4.4, 6.0 and some more, almost all deveices will blocked. so I fixed it by add this code

	private void fuckAsyncTask() {
		//Fix UCrop BitmapLoadTask blocked by fb network
		try {
			Field nameField = AsyncTask.class.getDeclaredField("sDefaultExecutor");
			nameFie

[2017-11-23 03:06] HaloMego opened #52 "FB6 RuntimeException - AsyncTask$3.done com.facebook.ads"
**## Hello,sir, SDK_Version =4.26.0,how to resolve the issue?**
Exception java.lang.RuntimeException: An error occurred while executing doInBackground()
android.os.AsyncTask$3.done (AsyncTask.java:318)
java.util.concurrent.FutureTask.finishCompletion (FutureTask.java:354)
java.util.concurrent.FutureTask.setException (FutureTask.java:223)
java.util.concurrent.FutureTask.run (FutureTask.java:242)
ja

[2017-11-27 10:43] kumarbanty opened #53 "SDK crashes with CalledFromWrongThreadException while playing an instream ad"
# Crash logs
Fatal Exception: android.view.ViewRootImpl$CalledFromWrongThreadException: Only the original thread that created a view hierarchy can touch its views.
       at android.view.ViewRootImpl.checkThread(ViewRootImpl.java:6728)
       at android.view.ViewRootImpl.invalidateChildInParent(ViewRootImpl.java:1028)
       at android.view.ViewGroup.invalidateChild(ViewGroup.java:4716)
       at

[2017-11-30 02:15] phzhou commented on #53
Hi @kumarbanty!
As the error message suggested, did you create the view for in-stream video and manipulate the view on the same thread?

If you don't mind posting code snippet showing how you are creating the view and using it that would be helpful to identify the issue

[2017-11-30 02:18] phzhou commented on #52
Hi @HaloMego

This is an issue that there is a small chance you can run into this error in 4.26.0
Please update to SDK version 4.26.1 which fixed this issue.

Thanks!

[2017-11-30 02:18] #52 closed

[2017-11-30 02:22] phzhou commented on #51
Hi @threat70 !

The latest version for the Audience Network iOS SDK is 4.26.1 as listed here:
https://developers.intern.facebook.com/docs/audience-network/download#ios

We will update the podspec once 4.27+ is out =D

Thanks!

[2017-11-30 02:22] #51 closed

[2017-11-30 02:26] threat70 commented on #51
Hi @phzhou .
Sorry, I mixed up Audience Network SDK with common Facebook SDK.

[2017-12-28 07:30] nottoobad opened #54 "Does audience network android sdk require android min api level to 17 ?"
Crashed when showing interstitial ads on android 4.1.1.
Audience network android sdk version is 4.23.0.
View.generateViewId only available via android api level 17.
Fatal Exception: java.lang.NoSuchMethodError: android.view.View.generateViewId
       at com.facebook.ads.internal.adapters.k.a(Unknown Source)
       at com.facebook.ads.internal.adapters.i.a(Unknown Source)
       at com.facebook.ads

[2018-01-03 03:07] phzhou commented on #54
Hi @nottoobad could you try to reproduce the issue with the newer SDK version?

[2018-01-03 03:18] phzhou commented on #53
Closing. Feel free to open again if there is still issue! Thanks!

[2018-01-03 03:18] #53 closed

[2018-01-03 03:19] phzhou commented on #47
Closing. Feel free to open again if the issue still exists. Thanks!

[2018-01-03 03:19] #47 closed

[2018-01-10 02:41] mac-pro opened #55 "Wrong setup but AdListener.onError() not called"
I'm sorry, it was an invalid issue.

[2018-01-10 02:54] mac-pro opened #56 "Update Java API references to standard format (like Oracle Java API references)"
I'm sorry, it was an invalid issue.

[2018-01-13 02:55] #55 closed

[2018-01-13 02:56] #56 closed

[2018-01-17 20:47] Sarun1001 commented on #46
@phzhou @reiterp-avs Hi guys I'm also facing the same issue, app crashes while using SDK version above v.4.23.0.

"Binary XML file line #59: Error inflating class com.facebook.ads.MediaViewCaused by: android.view.InflateException: Binary XML file line #59: Error inflating class com.facebook.ads.MediaViewCaused by: java.lang.reflect.InvocationTargetException"

[2018-01-18 06:04] seshuvinay opened #57 "NativeAd not loaded"
Gradle:
` compile 'com.facebook.android:audience-network-sdk:4.+'`

Code to display ad:

[code]
I am using above code to display Native Ads. Neither onAdLoaded nor onError is called. Didn't find anything in logs either.
Status of app is "Approved" and status of Ad space is "Enabled and received ad request recently"

[2018-01-19 06:52] phzhou commented on #57
Hi @seshuvinay would you mind posting your activity class source code here to help us reproduce the issue? Thanks!

[2018-01-19 08:32] seshuvinay commented on #57
It's in a Fragment. And I am using above code when Ad is to be displayed. Cant post complete Fragment here. But other than above code, there is nothing related to Native Ads.
My FAN dashboard shows this data:

![screenshot from 2018-01-19 13-55-58 copy](https://user-images.githubusercontent.com/2959220/35141545-3e4d716e-fd21-11e7-9a2c-97ddbf599718.jpg)

[2018-01-20 09:55] vishalpatelbacancy opened #58 "Java.lang.IllegalStateException: no adapter ready to start in interstial ads"
java.lang.IllegalStateException: no adapter ready to start
                                                                           at com.facebook.ads.internal.DisplayAdController.b(Unknown Source)
                                                                           at com.facebook.ads.InterstitialAd.show(Unknown Source)

[2018-01-23 03:47] phzhou commented on #57
Hi @seshuvinay I'm afraid it's hard to help you debug without any source code to reproduce the issue.
It seems that you are receiving the ad correctly, but there is something wrong with showing the ad in the layout.

Could you try to follow exactly the Native ad document here
https://developers.facebook.com/docs/audience-network/android-native
And verify if the problem still exist?

[2018-01-23 03:49] phzhou commented on #46
Hi @Baobomb @vmalykhin @reiterp-avs @Sarun1001 have you guys tried the latest SDK and see if it fixes your issue?
Also how are you guys using the SDK? Are you including it from the gradle build dependency, or include the SDK as aar file in the project libs folder?

[2018-01-23 03:51] phzhou commented on #54
Closing since no activity

[2018-01-23 03:51] #54 closed

[2018-01-23 03:52] phzhou commented on #58
Hi @vishalpatelbacancy would you be able to provide a sample code snippet that we can help reproduce the problem? Thanks!

[2018-01-24 06:10] vishalpatelbacancy commented on #58
i make two method

[code]

second for show ad

[code]

this was i make for demo purpose

So what happen I take two button  load ads, show ads

after activity open i click on load ads  ,  and when i get    Log.e("fb ad", "loaded");  log after then i click on show ads,

the first time it works perfectly

now I do same

again click on load ads button    and when I get a log  "loaded "   i click to sh

[2018-02-10 10:21] harshdchandel opened #59 "Audience network crash"
Caused by java.lang.RuntimeException: failure code: -32
       at android.media.MediaPlayer.invoke(MediaPlayer.java:729)
       at android.media.MediaPlayer.getInbandTrackInfo(MediaPlayer.java:1893)
       at android.media.MediaPlayer.getTrackInfo(MediaPlayer.java:1870)
       at com.facebook.ads.internal.view.c.c.b.d(Unknown Source)
       at com.facebook.ads.internal.view.u.j(Unknown Source)

[2018-02-23 07:56] phzhou commented on #59
Hi @harshdchandel could you provide more information on the issue?
Is the issue happening all the time or randomly?
What kind of ad format are you trying to use when encountering this issue?
What is the Audience Network SDK version?
What is the test device and the OS version?

Best case if you could provide a sample that can reproduce this issue that will be really helpful.
Thanks!

[2018-02-23 07:59] phzhou commented on #58
Hi @vishalpatelbacancy sorry it took so long to figure out. We are still trying to reproduce.
At the same time, could you let us know more about reproducing the issue?
What was the SDK version that you used?
What is the test device and OS version?
Thanks!

[2018-03-02 08:25] linkr opened #60 "AssertionError"
Have integrate error then compile.
Sdk 4.27

compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
}
gradle 3
`
Exception in thread "main" java.lang.AssertionError: Failed to load class when desugaring method com/facebook/ads/internal/view/c/c/a.onPlayerError(Lcom/google/android/exoplayer2/ExoPlaybackException;)V
	at com.google.dev

[2018-03-12 15:27] UvarovBoris opened #61 "Android Gradle plugin 3 migration error"
Hi, I have this build error after migrating to android gradle plugin 3. Like here https://github.com/fbsamples/audience-network/issues/60 .
Looks like problem with Java 8 and desugaring of ExoPlaybackException. Is audience-network support Java 8?

Exception in thread "main" java.lang.AssertionError: Failed to load class when desugaring method com/facebook/ads/internal/view/c/c/a.onPlayerError(Lcom

[2018-03-13 09:56] jitesh-pz opened #62 "Possible race condition in RewardedVideoAd initializing the ExoPlayer"
**ISSUE DETAILS:**

We are using a custom URLStreamHandlerFactory in our project, setting it via URL#setURLStreamHandlerFactory. The RewardedVideoAd video playing stucks for us. The player doesn't send a GET request to the video URL. But the everything works fine, if we don't use a custom handler.

For isolating the bug, we created a dummy handler which just uses the platform default protocol hand

[2018-03-13 10:03] jitesh-pz commented on #62
reported here also:
https://developers.facebook.com/bugs/637879549877426/

[2018-03-16 14:52] Asad4429 opened #63 "How to Native Ads in very large items list."
Hey i want to show native ads in my feed list which is almost unlimited.
I used facebook's NativeAdsManager with RecyclerView as Sample code does but problem is that it limits 10 and i want to load more Ads. i am showing ad after every 5 items. Is there any efficient way to load 2 or 3 ads with NaticeAdsManager first and request more ads as list gets scroll?

[2018-03-21 23:33] gregko commented on #46
Had the same problem on Android 5.1 (maybe others too, did not test). Per @reiterp-avs comment above, I removed:

   android:visibility="gone"

from the XML layout of the native ad, and I set the visibility as needed in Java code instead. This fixed the problem.

[2018-03-28 07:43] greywolfhalil opened #64 "Native Video Ad Alignment Issue"
I am using native ads inside recyclerview.
Image ads fine but video ads has alignment issue.

**Device:** LG G4 H815TR Android 6.0 API 23
**SDK Version:** 'com.facebook.android:audience-network-sdk:4.+'
**XML:** Same as fbsamples RCPY
**MediaView Height:** I try 100dp, 175dp, 200dp, 225dp, 250dp, 275dp, 300dp. All heights has same issue.
**When i use wrap_content for mediaview everything is ok, bu

[2018-03-28 10:26] greywolfhalil commented on #64
Issue fixed.
Reason is my xml. I was changed parent view linearlayout to relativelayout. After undo changes and make default xml, issue has been fixed.

[2018-03-28 10:26] #64 closed

[2018-04-09 07:11] phzhou commented on #60
Hi!
We couldn't reproduce the issue, could you provide more details so we can try reproducing it?
How are you integrating the SDK? Do you use gradle dependency or including the "aar" file manually?
Could you also provide the build.gradle file so we can test?
Thanks!

[2018-04-09 07:11] phzhou commented on #61
Hi!
We couldn't reproduce the issue, could you provide more details so we can try reproducing it?
How are you integrating the SDK? Do you use gradle dependency or including the "aar" file manually?
Could you also provide the build.gradle file so we can test?
Thanks!

[2018-04-09 08:13] phzhou commented on #59
Closing due to no activity

[2018-04-09 08:13] #59 closed

[2018-04-11 10:44] sumbganesh commented on #29
On line 152, replace ` mAd = mAds.nextNativeAd();` with `NativeAd mAd = mAds.nextNativeAd();`. I don't remember exactly if this was the solution, but give it a try.

[2018-04-11 14:43] kimnamcham commented on #29
Thanks, i will try it

[2018-04-19 10:50] MathanSara opened #65 "Received status code 403 from server: Forbidden how to solve this please give me a solution .."
When am using new latest SDK `implementation 'com.facebook.android:audience-network-sdk:4.32.0'` also gradle version is `com.android.tools.build:gradle:3.1.1` , now rebuild the project but it shows error on `Received status code 403 from server: Forbidden`

    Unable to resolve dependency for ':app@debugAndroidTest/compileClasspath': Could not resolve com.facebook.android:audience-network-sdk:4.3

[2018-04-19 17:36] chrisma0101 commented on #65
Hi, thanks for reporting this. Could you please try implementation 'com.facebook.android:audience-network-sdk:4.28.1' because 4.28.1 is our latest SDK version? Please check out developer docs for more SDK versions information. (https://developers.facebook.com/docs/audience-network/download)

Thanks,
Chris

[2018-04-27 10:55] kried opened #66 "Strong retain cycle with Native Ad"
I've found a memory leak in [your native sample](https://github.com/fbsamples/audience-network/tree/master/samples/ios/native).

If I set `nativeAd.mediaCachePolicy = FBNativeAdsCachePolicyNone;`
and then I comment image loading images using method `loadImageAsyncWithBlock:` and don't download images, I see a retain cycle in memory graph.
<img width="343" alt="leak" src="https://user-images.github

[2018-04-27 18:11] andrliu commented on #66
Hi @kried, thanks for your feedback, we will look into that.

[2018-05-03 09:59] MathanSara commented on #65
thank you so much chrisma0101

[2018-05-03 09:59] #65 closed

[2018-05-14 05:36] phzhou commented on #60
Closing as there was not enough information for reproducing the issue

[2018-05-14 05:36] #60 closed

[2018-05-14 05:37] phzhou commented on #61
Closing as there was not enough information to reproduce the issue

[2018-05-14 05:37] #61 closed

[2018-05-14 09:34] phzhou commented on #58
Closing due to not enough information to reproduce the issue

[2018-05-14 09:34] #58 closed

[2018-05-29 08:49] linkr commented on #60
Yes i include file manually. Problem not soleved yet.
My buil.gradle file very big and alson have modules.

[2018-05-29 09:50] linkr commented on #60
this issue resolving with adding android.enableD8.desugaring = true in gradle.properties file.

But compile time 5 min now =(

[2018-06-01 06:59] phantuanphong opened #67 "com.facebook.ads.internal.view.n.setVideoMPD"
I received a lot of crash report, it show cause: com.facebook.ads.internal.view.n.setVideoMPD

[2018-06-01 07:44] aliguvenc commented on #67
same as me, i got tons of crash report. Below is my logcat.
[com.teknasyon.relaxingsounds_issue_212_crash_5B1069B003B300013C5F903367B963F4_DNE_0_v2.txt](https://github.com/fbsamples/audience-network/files/2061601/com.teknasyon.relaxingsounds_issue_212_crash_5B1069B003B300013C5F903367B963F4_DNE_0_v2.txt)

[2018-06-01 07:45] aliguvenc commented on #67
yeah, same as me. I got tones also tones of crash report. Below is my crash report.
[https://github.com/fbsamples/audience-network/issues/67](logcat)

[2018-06-01 07:48] aliguvenc commented on #67
yeah, same as me. I got tones of crash report about com.facebook.ads.internal.view.n.setVideoMPD.
Below is my logcat.
[logcat.txt](https://github.com/fbsamples/audience-network/files/2061621/logcat.txt)

[2018-06-08 22:18] vincentthai22 commented on #60
thanks for the comment as i am facing this issue too... my issue arised when i started using mopub 5.0.0@aar alongside with the AudienceNetwork.aar

[2018-06-09 06:01] saurabh1939 commented on #3
I have implemented facebook native Ads in UITableView, for first 1-2 times it clickable but when I scroll tableview and come again back to the same cell, now Ads are not clicking, I am using swift 3.2 Below is the cell implementation.

let ad = adsManager.nextNativeAd
let cell = self.tableHome.dequeueReusableCell(withIdentifier: "HomeAdsTableViewCell", for: indexPath) as! HomeAdsTableViewCell
cell

[2018-06-09 06:05] saurabh1939 opened #68 "Facebook native Ads are not clickable again in UITableView Cells after scroll"
I have implemented facebook native Ads in UITableView, for first 1-2 times it clickable but when I scroll tableview and come again back to the same cell, now Ads are not clicking, I am using swift 3.2 Below is the cell implementation.

let ad = adsManager.nextNativeAd
let cell = self.tableHome.dequeueReusableCell(withIdentifier: "HomeAdsTableViewCell", for: indexPath) as! HomeAdsTableViewCell
cell

[2018-06-11 05:15] andrliu commented on #68
Hi @saurabh1939, I feel the issue you have here is about reusable cell. Would you be able to provide us a sample code which could reproduce the issue. Thanks.

[2018-06-11 05:18] saurabh1939 commented on #68
i followed below mentioned tutorial :

[2018-06-11 06:09] andrliu commented on #68
If you are interested in how to use FBNativeAdsManager, you might want to check out our AdUnitsSample. You can get the sample app with from our SDK download link, https://developers.facebook.com/docs/audience-network/download#ios. It should have the most updated implementation.

[2018-06-11 06:09] #68 closed

[2018-06-11 07:32] saurabh1939 commented on #68
Above sample is in Objective C, Can i get it in Swift ?

[2018-06-11 07:46] andrliu commented on #68
Unfortunately, we only have sample in ObjC. If you look at TableViewController, it is not so hard to do it in Swift.

[2018-06-20 17:49] chrisma0101 commented on #67
Hi,
    I saw your log file, and seems you were populating the native ad into recycler view cell. May I have the code snippet of "populateFacebookNativeAdView" such that I can reproduce the crash?
Thanks,
Chris

[2018-06-21 22:55] andrliu commented on #66
Hi @kried, please refer to our latest sdk and sample code.

[2018-06-21 22:55] #66 closed

[2018-06-27 09:54] lb0820ynn opened #69 "NullPointerException when init MediaView"
Caused by: java.lang.NullPointerException:
  at com.facebook.ads.DefaultMediaViewVideoRenderer.onVisibilityChanged (Unknown Source)
  at android.view.View.dispatchVisibilityChanged (View.java:8732)
  at android.view.ViewGroup.dispatchVisibilityChanged (ViewGroup.java:1148)
  at android.view.View.setFlags (View.java:9775)
  at android.view.View.<init> (View.java:4160)
  at android.view.ViewGroup.<i

[2018-06-28 09:03] cosfun opened #70 "Always return error 1001 no fill"
In version 4.28.1，use "AdSettings.addTestDevice" i can see TestAd.
but now always return error 1001 no fill

response like:
`{"type":"error","code":1001,"message":"No fill","placements":[{"definition":{"placement_id":"264358014310343_265421714203973","type":"native","refresh":"0","refresh_threshold":"-1","min_viewability_percentage":"1","viewability_check_ticker":"0","viewability_check_interval":"

[2018-07-09 05:13] phzhou commented on #70
Hi @cosfun, when you are not sending ad request in the test mode, please refer to the testing document here for how to test with production ads

[2018-07-09 05:13] #70 closed

[2018-07-12 01:22] phzhou commented on #69
Hi @lb0820ynn could you share more context?
Which SDK version?
Can you reproduce the issue on the sample app?
If yes how can we reproduce this issue?

[2018-07-13 07:08] bantyK commented on #53
Hello @phzhou this crash is still happening and that too in a large number, have a look our fabric link for this crash

https://fabric.io/vuclip4/android/apps/com.vuclip.viu/issues/5adac71f36c7b2352789910d?time=last-twenty-four-hours

Can you help us on how we can fix this crash or atleast gracefully handle this so that the app does not crash abruptly.

[2018-08-16 06:30] dcy opened #73 "fbadnw.js 404"
Hi!
![_ _20180816142856](https://user-images.githubusercontent.com/1137238/44192113-ce9b0b80-a160-11e8-9ddf-ac2aeb03ec1f.png)
https://connect.facebook.net/en_US/fbadnw.js 404

[2018-08-23 03:34] phzhou commented on #73
Hi @dcy sorry this is a deprecated sample, will be removed soon.
For mobile web integrations please refer to the latest documentation from here:
https://developers.intern.facebook.com/docs/audience-network/web

[2018-08-23 03:34] #73 closed

[2018-08-23 06:46] dcy commented on #73
![_ _20180823144602](https://user-images.githubusercontent.com/1137238/44509145-580f8800-a6e3-11e8-9458-6585a84931e1.png)

[2018-09-06 10:11] d-u-a-l opened #74 "Attempt to invoke virtual method 'void com.facebook.ads.internal.s.a.r.a(android.view.MotionEvent, android.view.View, android.view.View)' on a null object reference com.facebook.ads.internal.view.b.a.onTouchEvent"
Lately I have a lot of crashes, reported by Crashlytics, with stacktrace like

I show AdView in MainActivity (simple banner), I create it in my AdMediator (which is created in onCreate method of MainActivity) and dispose of it in dispose method, which is called in activity's  onDestroy, like it was advised in [manual](https://developers.facebook.com/docs/audience-network/android-banners/):
[code]

[2018-09-08 09:59] mudi256 opened #75 "video in stream sample"
Hye  dear hope you are fine, where is video in stream ad sample in this project?

[2018-09-10 02:45] phzhou commented on #57
Please update with the latest SDK and feel free to re-open if problem still exists

[2018-09-10 02:45] #57 closed

[2018-09-11 06:32] phzhou commented on #75
Hi @mudi256 please find the Android instream ad sample in the updated sample project
Thanks!

[2018-09-11 06:32] #75 closed

[2018-09-11 06:34] phzhou commented on #74
Thanks @d-u-a-l but could you create a fragment/activity class with the similar logic you used so we can reproduce the issue?
Thanks!

[2018-09-16 12:33] d-u-a-l commented on #74
I guess, I could, but after updating lib to latest version, I don't receive such logs in Crashlytics for new release. Guess, you've already fixed it. Thanks

[2018-09-16 12:33] #74 closed

[2018-09-29 16:12] NimeshHirpara opened #76 "NativeAdRecyclerAdapter view not updating"
NativeAdRecyclerAdapter
Recyclerview item not updating while it has one post item
need to scroll to affect
also native ad not displaying on first position

[2018-10-11 05:51] phzhou commented on #76
Hi @NimeshHirpara could you share more details about the issue, and provide sample code snippets to reproduce the issue?
Thanks!

[2018-10-22 12:41] Gaurav-kumarr opened #77 "After migrating from 4.23.0 to 5.0.0 Test Device Always get error 1001 no fill"
I use designated test devices for testing Audience Network integrations and they are configured for real advertiser content in testing enabled mode as mentioned in Using Test Devices [https://developers.facebook.com/docs/audience-network/testing](url) and have all the necessary requirement and work on 4.23.0 SDK.

It is displaying real advertiser content with 4.23.0 SDK and worked well for me for

[2018-10-30 03:11] andrliu commented on #77
Hi @Gaurav-kumarr, would you mind to contact our support team on Monetization Manager and provide your placement id. They should be able to look into your account and tell you more about the error you got.

[2018-10-30 03:17] brunopiovan opened #78 "5.1.0-beta android implementation"
Hello,
I'm trying to implement 5.1.0-beta on my android app, however it's not clear on the beta SDK page how to do it.

[code]

[code]

That's what the page currently has, but I'm not sure what `ad_choices_container`, `nativeAd` and `nativeAdLayout` are.

Does anybody have a better example on how to implement it?

[2018-11-01 22:37] ziad-halabi9 opened #79 "Connection was leaked warning"
My logs are showing a warning saying:
`W/OkHttpClient: A connection to http://127.0.0.1:32873/ was leaked. Did you forget to close a response body?`

It's showing when loading native ads using `NativeAdsManager`. The Ads are usually being loaded.

I am using the 5.0.1 version. My compile and target sdk version is 28. The support libraries are all 28.0.0. And I do declare `android:networkSecurityCo

[2018-11-08 06:58] JunlongLiang opened #80 "NativeAdListener not callback"
After the native.loadAd() is called in the SDK of 4.99.0 or above, the NativeAdListener has no callbacks.
I can't know if its request was a success or a failure.

But when I use the test adUnitId, the NativeAdListener will callback.
(For example: VID_HD_16_9_46S_APP_INSTALL#xxxxxxxx_xxxxxxxxxx)

So this error will only appear in the AdUnitId of release.

[2018-11-26 09:06] BCsl commented on #80
Same probleam when upgrade to 5.1.0.

[2018-11-27 09:18] ldxlxl commented on #80
Same probleam when upgrade to 5.1.0.

[2018-11-27 10:11] ldxlxl opened #81 "Audience network proguard"
How should I configure its proguard when integrating the Audience network sdk?

[2018-12-24 14:27] mrbankim opened #82 "Issue with Kotlin syntax."
Can you please provide the complete sample code for kotlin ? I am getting problem with existing sample code to implement on kotlin.

[2019-01-03 04:20] TomyKissy opened #83 "How to make MediaView video not enter full screen"
How to make the video of NativeAd's MediaView not enter full-screen playback？
When you click on the video, it will enter full screen playback.Why？
I need to jump directly instead of playing the video in full screen.

Version:V5.1.0

[2019-01-15 06:36] m5314 opened #84 "InterstitialAd"
When I click on an AD, it shows a web page.Then when you close the page, the previous AD disappears and you don't have a callback for onInterstitialDismissed

[2019-02-26 20:13] ghost opened #87 "Complete samples with facebook-test-ads"
Hello Sirs,

May I ask if you could make your code ***complete*** with facebook test ads? I mean:

- The code uses ***your*** test placement IDs. For God sake, can you produce your own test placement IDs, instead of _"YOUR PLACEMENT ID"_?

- Once built, the app _shows_ test ads.

Benefits are:

- Developers will not have to change _"YOUR PLACEMENT ID"_ in your code. For God sake, do you know that

[2019-02-28 05:04] Izzyjm opened #88 "UI API called from background thread"
Does anyone know why once I call the [self.adView loadAd] method on ios it gives me this warning ?

![screen shot 2019-02-27 at 11 01 31 pm](https://user-images.githubusercontent.com/24462583/53542391-e1b16f80-3ae3-11e9-9bc7-0e323b8edd93.png)

[2019-03-01 00:44] ghost opened #89 "Better way to get test device IDs"
Hello Sirs,

My clients and I are half this planet far away. When I sent them instructions to get test device IDs, this was exactly what they told me: _Sorry Mr. <obfuscated>, I think I'm stupid to go through your guide... Could we have better solution?_

Could you have better way to get test device IDs?

Oh my god, it's test device IDs, it's _not_ USA national books, it's _not_ Mr. Trump's atomic

[2019-03-01 04:58] smartassisme commented on #89
Well,

Open `SharedPreferences` with `"FBAdPrefs"` name and read a string from `"deviceIdHash"` key. The value might not exist because the sdk generates it on the fly only when necessary. The value is generated by `java.util.UUID.randomUUID` and then `toString` to convert the UUID to string.

I have no time to decompress the rest of your smart ass code.

Well, next time your smart ass developers s

[2019-03-30 08:04] charlizesmith opened #90 "Repetition of Ads in RecyclerView on LoadMore"
I am implementing FbNativeAds in Recyclerview and have took the code reference from the  Audience Network Android code samples on Github.
I am able to load the ads at the specific postion in recyclerview using nativeAdsManager.I am facing one issue that I only get 10 ads and those same ads gets repeated.
I think nativeAdsManager bring the 10 Ads at first time when I call loadAds as I have given nu

[2019-04-04 07:45] charlizesmith commented on #63
Hi Asad4429,
Did you found any solution? I am also facing the same issue.

[2019-04-05 03:09] vishal105 opened #91 "Audience Activity Crash"
Android :Oreo

Caused by: java.lang.IllegalStateException:
  at android.app.Activity.onCreate (Activity.java:991)
  at com.facebook.ads.AudienceNetworkActivity.a (SourceFile:23)
  at com.facebook.ads.AudienceNetworkActivity$1.a (SourceFile:30)
  at com.facebook.ads.internal.ec.a (SourceFile:159)
  at com.facebook.ads.AudienceNetworkActivity.onCreate (SourceFile:78)
  at android.app.Activity.perfor

[2019-04-05 17:36] andrewliu-code commented on #88
Hi @Izzyjm, could you share the SDK version and a sample app for us to look into it since I cannot reproduce the same issue. I did not see the same warning while calling loadAd for banner ad.

[2019-04-06 17:40] Izzyjm commented on #88
@andrewliu-code hello it is here https://github.com/Izzyjm/FAN-banner-implementation-BUG-

[2019-04-09 00:23] andrewliu-code commented on #88
Hi @Izzyjm, I was running your sample app and having `Pause on issues` turned on for `Runtime API Checking`. Xcode didn't detect anything running on the background thread and pause the app. Maybe you can provide more information so I could try to simulate your debug environment and reproduce it

[2019-04-09 02:03] Izzyjm commented on #88
@andrewliu-code that’s weird I wonder why it’s not showing up for you , all I did was create a new empty project in Xcode and then implement it like it is in the project that I shared , also what is “pause on issues”?

[2019-04-09 02:24] andrewliu-code commented on #88
Check out this video, https://developer.apple.com/videos/play/wwdc2017/406/

[2019-04-10 10:06] artwl opened #92 "FBMonotonicTimeGetCurrentMilliseconds crash"
Our game was developed using the cocos engine, adding the audience network SDK, using the IOS native code encoding, called in cocos.

Now I have a crash problem. We guess that it is likely to be related to the cocos engine (because the game developed with unity did not encounter this problem), but after a long time of debugging, we still have not solved the problem. The detailed crash information

[2019-04-13 01:12] Izzyjm commented on #88
hey @andrewliu-code recently I noticed my android log console print this out "You don't call AudienceNetworkAds.initialize(). Some functionality may not work properly" but no where in the documentation did it ever mention to make this call so how will developers know to include this ?

[2019-04-24 02:12] cunzhegao commented on #92
We have encountered the same crash, though our game is built with Unity.

[2019-04-24 17:37] Izzyjm opened #93 "AudienceNetworkAds.initialize() error in Logcat (Android Studio)"
Hello when running my app in Android Studio I get this log in the logcat "You don't call AudienceNetworkAds.initialize(). Some functionality may not work properly" but no where in the FAN network documentation did it ever mention to make this call or didn't even show in the example code so how will developers know to include this ? and what functionality wouldn't' work properly because Im still re

[2019-04-30 02:35] phzhou commented on #93
Hi! Sorry for not being very clear in the banner sample specifically about initializing the SDK.
Please refer to the sample code [here](https://github.com/fbsamples/audience-network/blob/master/samples/android/AdUnitsSample/AdUnitsSample/src/main/java/com/facebook/samples/AdUnitsSample/AudienceNetworkInitializeHelper.java) about the SDK initialization. We would update the documentation shortly as

[2019-04-30 02:35] #93 closed

[2019-04-30 02:41] phzhou commented on #91
HI @vishal105 we cannot reproduce the crash.
Can you provide more detailed code snippet to help us reproduce the issue?
Thanks

[2019-04-30 02:46] phzhou commented on #90
Hi @charlizesmith thanks for the sample code.
Yes the NativeAdsManager only provides the functionality of loading `numAdsRequested` ads in one go. In order to fulfill the usage you described, you would have to implement your own class to store the loaded ads (maybe using NativeAdsManager to load ads in batches), and find the right place to insert them into your RecyclerView.  Hope this answers you

[2019-04-30 02:46] #90 closed

[2019-04-30 06:03] Izzyjm commented on #93
@phzhou is there an equivalent method for iOS ?

[2019-04-30 06:10] phzhou commented on #93
Hi @Izzyjm no there is no equivalent for iOS, initialization of SDK is only for Android

[2019-04-30 06:14] phzhou commented on #84
Hi! Sorry for the inconvenience caused. We have improved the interstitial format, please get the latest SDK and try to reproduce the problem. Feel free to re-open the issue if the problem still exists.

[2019-04-30 06:14] #84 closed

[2019-04-30 06:17] phzhou commented on #78
Hi! Sorry for the inconvenience, AdOptionsView has become part of our recommended native ad design. Please refer to the latest native ad sample about the usage of the views and classes. Thank you!

[2019-04-30 06:17] #78 closed

[2019-05-02 03:24] phzhou commented on #89
Hi @ghost do you still have problem of getting the device id?
Please refer to the updated testing document for the process of testing with the test device ids, they are Google Advertising ID and IDFA for Apple devices. There are official APIs from these platforms to retrieve the ids by code. Thanks!

https://developers.facebook.com/docs/audience-network/testing#test-device

[2019-05-02 03:24] #89 closed

[2019-05-02 05:51] phzhou commented on #81
Hi @ldxlxl if you are still having issues with proguard you can try specifying the following in your proguard-rules.pro

-keep class com.facebook.ads.** { *; }

[2019-05-02 05:51] #81 closed

[2019-05-07 01:59] phzhou commented on #82
Hi @mrbankim are you still having issues with building with kotlin? Check our updated Android sample folder to see the included kotlin sample. Thanks!

[2019-05-07 01:59] #82 closed

[2019-05-07 02:00] #77 closed

[2019-05-07 03:18] phzhou commented on #83
Hi @TomyKissy sorry but this is by design of Audience Network native ad experience. Clicking on the video will enter full screen video playback with sound, and there would be a call to action button at the corner of the screen to jump to the destination.

[2019-05-07 03:18] #83 closed

[2019-05-07 05:46] phzhou commented on #80
Hi @JunlongLiang @BCsl @ldxlxl are you still experiencing the same issue on the latest SDK version?
If so please provide your code sample to help us reproduce the issue, thank you!

[2019-05-07 05:48] phzhou commented on #87
Hi, please refer to the latest testing document
https://developers.facebook.com/docs/audience-network/testing

We provide multiple ways of testing including using test devices feature so you can test with test ads with your real placement ids.

Thanks

[2019-05-07 05:48] #87 closed

[2019-05-07 08:02] phzhou commented on #79
Hi @ziad-halabi9 are you still having the same issue with the latest SDK versions? Thank you!

[2019-05-07 08:03] phzhou commented on #32
We changed video rendering in later SDK versions.
Please update to the latest SDKs and feel free to open issue again if the same issue persists!
Thank you

[2019-05-07 08:03] #32 closed

[2019-05-07 08:04] phzhou commented on #62
Closing as fixed in the bug tracking tool above

[2019-05-07 08:04] #62 closed

[2019-05-07 08:54] #80 closed

[2019-05-07 08:55] phzhou commented on #79
If this is still an issue please feel free to use https://developers.facebook.com/support/bugs/ to report a bug and get in touch with product engineers. Thank you!

[2019-05-07 08:55] #79 closed

[2019-05-07 08:56] phzhou commented on #91
@vishal105 if you are still facing the same issue please use https://developers.facebook.com/support/bugs/ to file a bug report to get in touch with our product engineers. Thank you!

[2019-05-07 08:56] #91 closed

[2019-05-07 08:56] #46 closed

[2019-05-07 08:57] #67 closed

[2019-05-07 08:57] #76 closed

[2019-05-07 16:52] andrewliu-code commented on #92
Hi @artwl and @cunzhegao, can you share more information, like SDK version and steps to reproduce the issue. If you can provide a sample code for us to debug that would be nice

[2019-05-11 02:52] artwl commented on #92
Hi @andrewliu-code ,the Audience Network SDK Version is 5.1.1.

The crash log is very frequent. We tested with real mobile phones and found that this crash log will appear frequently, but the app only occasionally crashes.

Below is a small portion of the crash log record:

| Index  | Version | Exception  Time | Device | OS Version |
|-|-|-|-|-|
| # 2532835 | 2.0.8(2.0.8) | 2019-05-11 10:37:20 020

[2019-05-14 10:54] snail9527 opened #94 "5.3.0 Didn't find class "com.facebook.ads.internal.dynamicloading.DynamicLoaderImpl""
Hi, i was use the audience-network 5.3.0，but it cause some crash by few user. they all in android 5.0 or 6.0
 Here is some logcat

java.lang.RuntimeException: java.lang.ClassNotFoundException: Didn't find class "com.facebook.ads.internal.dynamicloading.DynamicLoaderImpl" on path: DexPathList[[],nativeLibraryDirectories=[/vendor/lib, /system/lib]]
    at com.facebook.ads.internal.dynamicloading.Dyn

[2019-05-16 03:38] phzhou commented on #94
Hi @snail9527 thanks for writing in, this looks like a bug, can you use the official bug report channel here
https://developers.facebook.com/support/bugs/
to file a bug report?

Thanks!

[2019-05-16 03:38] #94 closed

[2019-05-18 01:29] Izzyjm commented on #93
@phzhou I implemented AudienceNetworkAds.initialize(); but I am getting an error , what am I suppose to put inside the parenthesis ?

[2019-05-21 12:29] martarodriguezm opened #95 "Update the examples"
You should update examples, at least the iOS native ads examples are out of date. You are using FBAdIconView that is deprecated instead of FBMediaView.

[2019-05-23 05:36] whswee-newswav commented on #88
Having the same issue when calling loadAd

`self.nativeAd = [[FBNativeAd alloc] initWithPlacementID:[self placementID]];
        [self.nativeAd setDelegate:self];
        [self.nativeAd loadAd];`

Main Thread Checker: UI API called on a background thread: -[UIApplication applicationState]
PID: 10678, TID: 2580581, Thread name: com.apple.CoreMotion.MotionThread, Queue name: com.apple.root.default-q

[2019-05-28 18:51] andrewliu-code commented on #95
https://github.com/fbsamples/audience-network/commit/bc6e8706538020dc4bdf534ac09abc6f9135358c

[2019-05-28 18:51] #95 closed

[2019-05-31 01:08] Izzyjm commented on #93
?

[2019-05-31 02:00] phzhou commented on #93
Hi @Izzyjm please refer to the documentation for sdk initialisation here:
https://developers.facebook.com/docs/audience-network/android-sdk-initialize
Thanks!

[2019-06-01 15:42] Izzyjm commented on #93
@phzhou do we have to implement the helper class, or can we just call AudienceNetworkAds.initialize(); ?

[2019-06-04 09:41] JkZhuang opened #96 "Fatal Exception: android.content.ActivityNotFoundException No Activity found to handle Intent { act=android.intent.action.VIEW dat=..."
android.app.Instrumentation.checkStartActivityResult (Instrumentation.java:1879)
android.app.Instrumentation.execStartActivity (Instrumentation.java:1546)
android.app.Activity.startActivityForResult (Activity.java:4298)
android.app.Activity.startActivityForResult (Activity.java:4245)
android.app.Activity.startActivity (Activity.java:4582)
android.app.Activity.startActivity (Activity.java:4550)
com

[2019-06-11 00:34] Izzyjm opened #97 "what does this new feature mean 'AndroidX' ?"
when following the android sdk implementation docs for the Audience Network it never made any mention of adding the android support library so im confused why does this changelog say "The Android SDK no longer requires Android support library. Apps can freely upgrade to Android X or to different versions of the support library without affecting their SDK." was the Android Support Library added aut

[2019-06-11 02:09] Izzyjm opened #98 "Android Documentation not specific"
Hello, I think some users might be confused because I am a little so just needed some clarification, it says to include 'com.android.support:recyclerview-v7:25.3.1' but I noticed that if you don't declare it and only declare 'com.facebook.android:audience-network-sdk:5.+' then check your dependency tree the recyclerview is included so why does it mention that we need to include this when it includ

[2019-06-11 08:08] MayueCastbox commented on #88
One line summary of the issue here
"UI API called from background thread" warning is produced after loading facebook ad very first time in app life cycle.

#### Device model and OS Version:
iPhone XR iOS 12.2
#### Xcode Version:
Version 10.2.1 (10E1001)

#### Observed behavior:
There got the warning in console, and also main thread was blocked for a while, as UI wasn't responsible.

#### Evidence:

[2019-06-11 16:08] Izzyjm commented on #97
when using 5.3.0 it still includes all these android support librarys but in the changelog for 5.3.0 it says the SDK no longer requires the Android support library ?
![Screen Shot 2019-06-11 at 11 06 53 AM](https://user-images.githubusercontent.com/24462583/59288296-1a132e80-8c39-11e9-9b6e-0c929d2ec40a.png)

[2019-06-17 05:46] creativityingenuity commented on #63
me too ,and my recyclerview After adding an ad, it’s very Caton.

[2019-06-30 02:35] Izzyjm opened #99 "FBAudienceNetwork showing warning and I don't use "Application" class"
I started receiving this warning but I don't even use the Application class or extend it,I  only extend the Activity class. This started showing after I enabled multiDex, does anyone know how I can fix this or get rid of this warning message ?

![see what this is about(think it might have to do with dex)](https://user-images.githubusercontent.com/24462583/60391520-b0f33e00-9ab5-11e9-95e1-200e0e543

[2019-07-02 03:39] DaveBoy opened #100 "test good,release "no fill""
version:5.3.0
type:flowbanner(in the recycleview) and flow
when i testing,it works well.
but when i release it in google play,it always return "no fill".
today:no fill 900+ and success 570
yesterday:no fill 6000+ and success 680

[2019-07-09 06:50] Warmanfarooq opened #101 "no fill + Ad failed to load: Ads loaded too frequently"
(1)The ad is not loaded as the error mentioned in previous issue .

(2)The ad is not loaded but once it loaded it did't shows the ad.. give the
error( Ad failed to load: Ads loaded too frequently)

The thing is i am not request any other request for ad load..
i write it once in the code ( adView.loadAd() )

The main purpose is that .. this error is also occurs in your provided Ad Fb-sample project

[2019-07-12 09:52] MayueCastbox opened #102 ""UI API called from background thread" warning is produced when load facebook native ad first time"
One line summary of the issue here
"UI API called from background thread" warning is produced after loading facebook ad very first time in app life cycle.

Device model and OS Version:

iPhone XR iOS 12.2

Xcode Version:

Version 10.2.1 (10E1001)

Observed behavior:

There got the warning in console, and also main thread was blocked for a while, as UI wasn't responsible.

Evidence:

2019-06-11 14:

[2019-08-03 01:18] AntRemo commented on #93
Hi @phzhou

I have the same question as @Izzyjm

Thanks

[2019-08-08 13:15] globaltakeoff opened #103 "adViewDidEnd delegate method is not called for Instream video ads on iOS device"
Hi Team,

The following issue is there for a long time on iOS device.
In Instream video ad "**adViewDidEnd**" delegate method is not getting called. Below is the scenario.
After downloading the sample app, install pods, run app,
tap on **Instream** in **Ad Samples**
tap on "Load Ad"
(after "Ad loaded")
tap on "Show!"
while the video is playing
tap on the video once to pause and tap on the video ag

[2019-08-27 19:36] giladna opened #104 "Android SDK - ad event and data"
hi,
https://github.com/fbsamples/audience-network/blob/master/samples/android/AdUnitsSample/AdUnitsSample/src/main/java/com/facebook/samples/AdUnitsSample/fragments/InstreamVideoFragment.java

FB SDK is not exposing important data for app devs.
No API to receive the play/pause events which are done via the ui buttons
No Ability to get current ad position and duration
No ability to get if ad is ski

[2019-10-18 20:40] neobie opened #105 "NativeAd not clickable in UITableView"
The NativeAd displaying correctly, and registerViewForInteraction is implemented.
But, the ad is just not clickable. Only Adchoice react to the tap.

Try everything I can but still no luck.

It is working for iOS SDK v4.28.1

After upgrading to v4.99.3 - v5.4.0, nothing works.

`[nativeAd registerViewForInteraction:cell mediaView:cell.adCoverMediaView iconView:cell.adIconView viewController:self c

[2019-10-19 12:50] neobie commented on #105
It doesn't work in Android ListView too.
Seems like new SDK registerViewForInteraction method has some problem ?

[2019-11-14 08:28] WCChimiiz opened #106 "[iOS] In-stream Ads"
When I click on in-stream ads, ads is pause then I click again ads is play but after ads did end ads  is stop but not call adViewDidEnd function, then if I click on ads again an ads will re-play, and if I do same before step I still have issue, but if I don't click anything on ads when ads is playing after ads did end this call adViewDidEnd function.

[2019-12-02 13:56] wangxing96 opened #107 "Native video ads cannot be clicked after updating the SDK!"
We made a serious error after updating the Android SDK to 5.6.0.
Native video ads are highly unlikely to be clickable,  at the same time the video can play correctly.
To the opposite, picture ads work effectively.
This problem does not exist for Android SDK 5.3.2.
This problem also exists in this demo when switching Android SDK version to 5.6.0.
This bug greatly affects our advertising revenue,  p

[2019-12-04 16:44] louisguitton opened #108 "Reporting API async flow: how long do we need to wait after getting the query_ids"
In the samples readme, you say

In the [docs](https://developers.facebook.com/docs/audience-network/reporting-api), there is nothing specified for this.

We implemented a custom API client for the Facebook Audience Network Reporting API, we're trying to fetch the reports for 1 day, `breakdowns=["country", "placement_name"]` (we have 26 placements and 225 countries), for 5 metrics.
We're already us

[2019-12-05 10:45] elirex opened #109 "Encounter error 2002 and OOM issues after upgrade Sdk"
We encounter errorCode 2002 and OOM issues when upgraded SDK to v5.6.0, but that issues do not exist v5.1.0, please check. Thanks.

[2019-12-17 06:48] Tayphoon opened #110 "Change background color of FBMediaView"

[2019-12-17 08:42] martarodriguezm commented on #105
Same problem here, any update?

[2019-12-17 10:07] Tayphoon opened #111 "FBMediaView does not show icon"

[2019-12-20 06:07] goodmalik opened #112 "How i can show interstitial ads on button click or back button press"
How i can show interstitial ads on button click or back button press according to the policy.
plz reply....
thanks in advance.

[2019-12-25 10:07] doandoindi commented on #101
Hello team,

I have the same issue with the sample project.
I'm using the SDK version 5.6.0 on IOS platform (installed via Cocoapods). The error appear on 3 ads: banner, interstitial and rewarded video when checked.

Could you check and let us know if there is anything we need to change to have them work correctly?

Regarded,
Doan.

[2019-12-27 02:23] GratePic opened #113 "Your Documentation SUUUUUUUUUUUUUUUUKS!!!!!!!!!!!!!"
I did the following on an IOS swift 4 app

*Added pod 'FBAudienceNetwork' to the pod file

*Executed pod install

*Cleaned and Built the app

Following error:
  "_OBJC_CLASS_$_FBSDKBasicUtility", referenced from:
clang: error: linker command failed with exit code 1 (use -v to see invocation)

Solutions:

1) Removed the pod and added it back (app builds)

2) Rolled the SDK back to pod 'FBAudienceNe

[2020-01-17 06:24] saadbzu opened #114 "RecyclerView lag with native video ads"
I use native video ads in my recyclerview, it work fine but the scrolling of my recyclerview is very slow. Please suggest me any solution.

[2020-02-22 20:16] RaymondBakker commented on #111
Another great change to the SDK. 👎

[2020-03-02 04:11] icefoggy opened #115 "How to analyse and optimize the accidental click problem of the native ads with Audience Network"
I have several apps that use audience network. After getting a amount of ads impressions, I often get the prompt of unqualified or near unqualified quality. The problem of unqualified quality is that the accidentally clicks. At first, I thought it was the user's quick swiping of the screen and other operations that might trigger the click of the advertisement. However, by repeatedly checking the r

[2020-03-25 09:16] xuanskyer opened #116 "How to pull reports through API and distinguish ad formats?"
https://developers.facebook.com/docs/audience-network/guides/reporting

I read this document and didn't find out how to deal with it

[2020-03-26 11:34] xuanskyer commented on #116
I found it in FB console code : display_format

[2020-03-26 11:34] #116 closed

[2020-07-04 02:33] AG-Developers commented on #93
I think you forget to use maven() and both dependencies of facebook (visit- https://developers.facebook.com/docs/audience-network/guides/adding-sdk/android )

without adding both dependencies you can not add AudienceNetworkAds.initialize();
-now no need to implement helper class, this is deprecated now.

Enjoy, Happy Coding :)

[2020-07-28 09:22] JantuDeb opened #117 "Implementation of NativebannerAds in recycler view.."
There is no implementation of native banner ads in Recycler view in the sample..
Please add this to sample repository...

[2020-08-22 09:25] kamaravichow opened #120 "Issue with Audience Network SDK"
Preconditions.java line 20

com.facebook.ads.internal.util.common.Preconditions.checkNotNull

[2020-08-24 14:20] Mkamalroid commented on #112
in which platform...Facebook Audience network or Google Admob?

[2020-09-16 12:29] tirumala007 opened #121 "About banner ads refreshing"
I have an app working fine. I am getting the banner ads. But there is only one ad is present throughout the activity(if an activity is opened for 5 minutes, then there is only one ad. and it does not get refreshed.). I want it to show different ads after sometime. Should i call the load method manually ?  please help me

[2020-09-23 09:53] Hanzala717 opened #122 "Too much size added in assets increasing APK size"
after updating to latest version of SDK it adds 1.6MB file size in assets which increasing APK size that's incredibly very high like our app size is 2 MB and after adding this SDK it reaches almost 4 MB.

how to reduce that side ?

[2020-09-26 06:56] dipankar108 opened #123 "Always got this error com.facebook.ads.AdError@26b7ba5"
interstitial = new com.facebook.ads.InterstitialAd(this, "MyplacementId");
                InterstitialAdListener interstitialAdListener = new InterstitialAdListener() {

                    @Override
                    public void onError(Ad ad, AdError adError) {
                        Log.v(TAG, " interstitial ads not loaded"+adError.toString());

                    }

                    @O

[2020-09-28 12:40] #97 closed

[2020-10-03 17:07] kmrinmoy07 opened #124 "Load multiple banner ads in same activty"
Hello,
In my android project I have some fragments inside my main activity and each fragments are scrollable. Now I want to place ads on each fragment and also since my fragments are scrollable so I want to load 5 ads (2 medium rectangle ads and 3 banner ads) in each fragment under the same activity. But all those ads doesn't get loaded together. Only 2 ads (one from banner ad and one from medium

[2020-10-07 14:51] BeaverAA opened #125 "Warnings in iOS SDK"
Hello, i see these warnings in FBAudienceNetwork (sdk version = 0.6.0)

![image](https://user-images.githubusercontent.com/30597930/95346855-f01d5b00-08c4-11eb-9847-d4422c7a0bda.png)

I have warnings enabled as errors, so this actually causes the build to fail.

Are you going to fix these warnings in future releases?

[2020-10-09 05:10] DivyeshTarsariya opened #126 "App crashing after update sdk 6.1.0"
### version : 6.1.0

Fatal Exception: java.lang.RuntimeException: Unable to start activity ### ComponentInfo{}: **android.os.BadParcelableException: ClassNotFoundException when unmarshalling:** com.facebook.ads.internal.androidx.support.v7.widget.RecyclerView$SavedState
       at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2984)
       at android.app.ActivityThread.handleL

[2020-10-09 05:13] 24Lathiya opened #127 "facebook native ads in recyclerview load same ads"
I have implemented native advances ads in recyclerview but it is loading same ads everytime.
Sample code which i have using.
[code]
Please let me where is the issue ?
@jch7557 @phzhou @caabernathy @andrewliu-code @andrliu @L33tcodex0r @ashaevy @daniel-huri @rswaroop

[2020-10-18 22:37] BlackFish768 opened #128 "Native ads in recyclerview returning 0 adItems.size() [Android]"
mAdItems (arrayList of ads) says content of mAditems are queried but never updated thus it is returing 0 item size in getItemCount due to which some items of other arraylist are missing. If i have 20 items and 1 ad per 5 items = 4 ads in total then last 4 item won't show

[2020-10-20 00:04] #128 closed

[2020-10-20 00:06] BlackFish768 commented on #128
I fixed it. It was my mistake. I wasn't adding NativeAd to the arrayList.

if (ad != null)  {
    mAdItems.add(ad)
}

[2020-10-22 17:25] finchatticus opened #130 "Can not build and run project"
Getting gradle error:
A problem occurred configuring project ':AdUnitsSample'.

[2020-10-26 19:10] ashaevy commented on #126
Fixed in 6.2.0

[2020-10-26 19:10] #126 closed

[2020-10-26 19:19] #39 closed

[2020-10-26 19:19] #63 closed

[2020-10-26 19:23] #88 closed

[2020-10-26 19:23] #92 closed

[2020-10-26 19:23] #96 closed

[2020-10-26 19:23] #98 closed

[2020-10-26 19:23] #99 closed

[2020-10-26 19:34] daniel-huri commented on #113
Hey @GratePic,
Please check out the [Swift sample app](https://github.com/fbsamples/audience-network/tree/master/samples/ios/FANSample).

[2020-10-26 19:34] #113 closed

[2020-10-30 19:43] ashaevy commented on #130
Likely Gradle configuration issue, doesn't happen for sample apps.

[2020-10-30 19:43] #130 closed

[2020-11-02 05:22] pm-preety-narvekar opened #131 "Test ads not working in iOS 14 with RTB end point as well audience network SDK"
Test ads not working on ios14, even after sending ifa and other required parameters in request, using RTB end point https://an.facebook.com/placementbid.ortb

Below curl call responds with blank content, even when the request is for test ads:
[code]
Below curl call works when triggered from iOS11 simulator/device:
[code]

When we used our FAN test tag directly in iOS sample app mentioned at: https

[2020-11-08 22:34] billyking991 opened #132 "Android 11 lib64/bionic/libc.so Crash"
I mediate banner ads using MoPub.  I'm seeing a large number fo crashes after moving to Facebook Android Audience Network 6.1 and 6.2 on Android 11.  I had upgraded to 6.2 because I saw in the changeling that the:

Mitigated Android OS bug that caused pc 00000000000830f0 /apex/com.android.runtime/lib64/bionic/libc.so (abort+160) crash.

That crash was fixed by SDK 6.2.  Unfortunately, I'm getting

[2020-11-08 23:42] ashaevy commented on #132
Hi. Could you give a list of the affected devices?

[2020-11-09 01:24] billyking991 commented on #132
Of course!  It's mostly Google Pixel Devices:

1.  Pixel 3
2. Pixel 3a
3. Pixel 4
4. Pixel 4 XL
5. Pixel 3 XL
6. Pixel 4a
7. Pixel 4a XL

It's strange that it's only showing up on Pixel devices.  And I can only see the crashes listed in Google Play and not in Crashlytics...or at least I can't find them in Crashlytics.  All on Android 11.

Please don't hesitate to let me know if you need any additi

[2020-11-09 19:20] ashaevy commented on #132
Hi. Looks like it's some new Android OS bug in DexClassLoader. Were you able to repro it?

[2020-11-09 19:26] billyking991 commented on #132
I am not able to reproduce it, unfortunately.  It's happening on a very small number of devices (~200) but is creating a huge number of crashes (~18,000).  It started as soon as I updated to Facebook Android SDK 6.0/6.1/6.2.  I have two pixel devices, but am not able to reproduce it.

Is it safe to revert back to 5.11.0 with MoPub 5.14.0.  Or is there something I can do in the meantime?

[2020-11-09 20:37] ashaevy commented on #132
We switched to DexClassLoader 6.1.0. So 5.11.0 and 6.0.0 should not be affected and you should be able to revert. Have you seen any similar native crashes on 6.0.0?

We can't repro the issue on Pixel 3 with Android 11 neither. Do you have build numbers for affected devices?

[2020-11-09 20:45] billyking991 commented on #132
I didn't update to 6.0.  I went straight from 5.11.0 to 6.1.0, unfortunately.

I'm going to revert for the time being.

Would you like read-access to my Play Console?  I'd be happy to let you look at the crashes, if it would help.  I could take a screenshot of the devices, but you may not get all the info you need.

[2020-11-10 15:03] ashaevy commented on #132
I see. Yes, read-access to Play Console might be useful. Did you report the issue in internal bug tracker?

[2020-11-10 16:17] billyking991 commented on #132
I'm not sure how to report things to internal bug tracker.  I've only reported them here.

Would you please send the email you want added to my Google Play Console and instructions for reporting this to internal bug tracker to wking@me.com?  I believe that is the email associated with my Github account.

I have just under 700K users, so the issues I'm seeing are happening quite a bit.  You, hopefu

[2020-11-12 22:24] ashaevy commented on #132
Hi. I would suggest to report this through https://developers.facebook.com/support/bugs/ and provide all links etc. In meanwhile you can revert back to 5.11.0, I will look into this issue next week.

[2020-11-13 17:08] billyking991 commented on #132
I'm so sorry.  I just tried to add the issue to the database.  It wants code samples, which I can't provide (the code would look just like the MoPub banner ad implementation and isn't 4000 characters long)
<img width="1149" alt="Screen Shot 2020-11-13 at 12 08 22 PM" src="https://user-images.githubusercontent.com/5864607/99099838-fcbe5e80-25a8-11eb-810f-f33222e5f734.png">
 and the description need

[2020-11-17 16:47] ashaevy commented on #132
Hi, I think it should be possible to attach code sample as zip file. It basically complains about text description. If you make it under specified limit you should be able to submit bug report.
Plz, post link here if you report bug via tool, all attachments should go through official bug tracker.
I'm considering to prepare patch, it would be great if you can test it, it should solve both issues.
T

[2020-11-17 16:54] billyking991 commented on #132
I would be happy to test it.  I haven't been able to reproduce the bugs, even on my Pixel devices.  If you have a beta build that fixes this issue, I would be happy to roll out my app to a small group (10,000 or so) of people and check for occurrences.  Will you please let me know when it's ready?

[2020-11-18 12:17] viktorcode opened #133 "iOS Compilation Error with FBAudienceNetwork.framework"
1. Perform necessary steps to compile the sample app for iOS in Xcode.
2. For simplicity choose simulator target (but the bug is reproducible on any architecture)
3. It should compile successfully.
4. In Xcode project settings set Link-Time Optimisation (LLVM_LTO) to "Monolithic"

Compilation fails. Error (from compilation to simulator target):

[code]

As a consequence, any iOS project that links

[2020-11-20 19:53] ashaevy commented on #132
Hi, this is link to a beta build: https://developers.facebook.com/resources/audience-network-sdk-6.2.1.zip. Let me know if it fixes issue.

[2020-12-01 11:07] midou221 opened #134 "facebook audience network always crash in kitkat"
i get this error only on Android systems under 21
I dont understand what caused of the error or how do I fix it

please some help

` E/AndroidRuntime: FATAL EXCEPTION: main
    java.lang.RuntimeException: Unable to get provider com.facebook.ads.AudienceNetworkContentProvider: java.lang.ClassNotFoundException: com.facebook.ads.AudienceNetworkContentProvider
        at android.app.ActivityThread.ins

[2020-12-02 09:25] #134 closed

[2020-12-03 15:02] ashaevy commented on #132
@billyking991 Any updates on testing?

[2020-12-07 12:58] ashaevy commented on #132
Closing due to lack of activity.
The fix will be available since 6.3 public release it should address both old and new issues.

[2020-12-07 12:58] #132 closed

[2020-12-07 13:43] billyking991 commented on #132
I apologize for the delay.  I’m a single person dev shop and have been swamped for the last week.  There has literally been no time to test.  I appreciate you working on a fix and I will wait until 6.3 is released to install it.  If the issue is still happening, I will let you know.

Thank you,
Billy

[2020-12-08 00:23] ashaevy commented on #132
Hey @billyking991! No worries, if you could test 6.2.1 patch using link that I've sent above it would be useful to confirm the fix earlier, before 6.3.0 release. The only change that you need to do is to replace 6.2.0 Maven dependency with local aar file from the distribution zip.
Thanks!

[2020-12-08 03:46] hoanghiephui commented on #127
I got the same issues

[2020-12-10 20:54] billyking991 commented on #132
I’m so sorry.  I got notice from both Apple and Google that I need to make some emergency changes to my apps.  I can probably test next week, but I’m working to meet the deadlines now.  I will let you know what I find.

I’m a little sketched about manually adding AAR fixes to my projects.  The last time I tried, I couldn’t remove it because AndroidStudio kept sucking it back in each time it was de

[2020-12-11 19:39] midou221 opened #135 "How do i can fix Notice of Violation of Facebook Audience Network Policy"
Yesterday I received this violation.. i made changes to the app and made the ads smoother and less annoying to users (i only use interstitial ads)
https://i.imgur.com/WWCpnrG.png
However, Facebook refuses to reactivate the ads and does not seem to be reviewing the app at all

im very disappointed and i don't know what else to do :(
if someone faces a similar problem, please help

[2020-12-17 01:52] JacoblLee opened #136 "can not set NativeAdListener with NativeAdsManager"
when use NativeAdsManager to load ads,but i can't set NativeAdListener  to native ad;
my audience network version is 6.2.0

[2020-12-19 16:41] ElyteLabs opened #137 "Change index of native ad"
I am following the example to load native ads in recyclerview . I want to show ads after every 7 items it is working fine but the problem I am facing is that I can't remove the ad from 0th position. It is always first item in recyclerview . I want the ads to show from 7th item . How do I change its index

[2020-12-21 13:32] midou221 commented on #135
I changed to another ad network

[2020-12-21 13:32] #135 closed

[2021-01-04 10:43] jrustonapps commented on #132
Do you have an update on when 6.3 will be available? I also seeing a very large number of crashes on Android 11 devices (in particular, Pixel and Samsung Galaxy S20 devices) using the 6.2 SDK. The log looks very similar to the one mentioned here. From what I hear from my users, this crash occurs every time they try to open the app, so it is rather serious. I am also using mediation.

`#00  pc 0000

[2021-01-07 20:04] cnordvik commented on #132
We also are getting this crash in rather large volumes now with an app that has over 10M installs. Is there a workaround available? We are using AdMob Open Bidding. Can we disable the FB adapter in AdMob or will this crash happen anyway?

[2021-01-11 13:48] fmanoir opened #138 "onContentProviderCreated(android.content.Context)"
java.lang.AbstractMethodError: abstract method "void com.facebook.ads.internal.api.AudienceNetworkAdsApi.onContentProviderCreated(android.content.Context)"
        at com.facebook.ads.internal.dynamicloading.DynamicLoaderFactory.doCallInitialize(DynamicLoaderFactory.java:160)
        at com.facebook.ads.internal.dynamicloading.DynamicLoaderFactory.access$200(DynamicLoaderFactory.java:41)
        a

[2021-01-11 20:19] mattlaabs commented on #132
Any update on a release date for 6.3.0? Or any confirmation of 6.2.1 fixing the issue?

[2021-01-12 18:38] dirkam commented on #132
@ashaevy do you happen to have any updates on this? this is a critical bug
Is it safe to downgrade from 6.2.0 to 6.0.0  or 5.11.0?

[2021-01-12 19:54] dirkam commented on #132
Samsung started the rollout of their Android 11 update so this crash appears more and more each day. Users can't even open the app, this is a severe issue.

[2021-01-13 22:09] ashaevy commented on #132
@dirkam You can use 6.2.1 patch, using this link https://developers.facebook.com/resources/audience-network-sdk-6.2.1.zip, it should fix the issue.

[2021-01-14 06:35] dirkam commented on #132
@ashaevy thanks for your reply. do you have any feedback on this if it fixes the issue (no confirmation in this thread so far)? is it safe to use this build in production?

do you happen to know when will you release this officially? if it's fixed, why not release it publicly? this affects each and every app that uses the SDK and the affects are critical as apps will not even start

[2021-01-14 13:10] obigu commented on #132
@ashaevy Not very fond of using a test build in production. Can you please provide any estimates on the next release or on the official release of 6.2.1?

[2021-01-15 16:26] ashaevy commented on #132
@obigu @dirkam  We were not able to reproduce this issue on our side, though the fix included into 6.2.1 uses different Android API that can't cause this crash. We will push patch as soon as we get confirmation that it's fixed. Were you able to repro the issue locally? Can you test the build?

[2021-01-15 23:05] obigu commented on #132
@ashaevy I haven't been able to reproduce locally unfortunately. If 6.2.1 uses an API that can't cause this crash, why not release it now? Is some random user here saying it works on their app going to determine whether the patch release is made or not?

[2021-01-16 06:25] dirkam commented on #132
@ashaevy
this just happened to me during a debug build with 6.2.1 on a Pixel 3a Android 11. Never seen this before, so it could be related to FAN SDK 6.2.1. During this build it happened frequently. After a rebuild I couldn't reproduce it.
[code]

[2021-01-16 06:27] dirkam commented on #132
@ashaevy
I use 6.1.0 in production as of now. Is it safe to downgrade to 5.11.0? Can you please answer this directly? I'd prefer this route, if there are no compatibility issues between these versions.

[2021-01-21 19:23] QuentinCG opened #139 "Web for Mobile real status"
Hello,

I'm not sure if your 'web for mobile' option is possible or not since all your examples are giving 'error 500': https://github.com/fbsamples/audience-network/tree/use_macro_app_id/samples/mobile_web/

If you don't use it, I would advise to be clear on the subject to not make people lose their time on this ad network (<=> get bad reputation for misleading people). Only article I can found a

[2021-01-25 16:45] onur-simsek commented on #139
As of Apr 11, 2020, Audience Network no longer fills any ad requests to web and in-stream placements.

source: https://www.facebook.com/business/help/645132129564436?id=211412110064838

[2021-01-25 17:09] #139 closed

[2021-01-25 17:30] QuentinCG commented on #139
Thanks for your help !

[2021-01-28 17:45] roma7481 opened #140 "Facebook Audience Network ads crash on Android devices"
I see that Facebook Audience Network Native ads crash on Android devices for my users. The crash is happening on release version only. I am using the latest Facebook audience-network-sdk 6.2. I have apps with older sdk 5.7 and I don't see this issue. The crash is:

Fatal Exception: java.lang.NoSuchMethodError

No static method getSharedPreferences(Landroid/content/Context;)Landroid/content/SharedP

[2021-01-29 15:09] #140 closed

[2021-01-29 15:09] roma7481 commented on #140
Have to put -keep class com.facebook.ads.** { *; }  in Proguard settings

[2021-01-29 15:27] ashaevy commented on #140
Commented on https://github.com/facebook/facebook-android-sdk/issues/892

[2021-01-31 18:38] obigu commented on #132
Has anybody confirmed it is safe to downgrade to 5.11.0? Facebook support is non existent.

[2021-02-01 11:10] ParthCorepix commented on #138
@fmanoir  any solution for this error?

[2021-02-01 11:24] fmanoir commented on #138
Remove AudienceNetwork.dex

[2021-02-04 05:28] dirkam commented on #132
It seems 6.2.1 fixed this, don't see this crash anymore.

[2021-02-04 15:44] ashaevy commented on #132
6.2.1 has been released: https://developers.facebook.com/docs/audience-network/guides/adding-sdk/android

If you are having technical issues or experiencing bugs, please use the [bug report tool](https://developers.facebook.com/support/bugs/) to report a bug on Audience Network.

[2021-02-05 15:01] #138 closed

[2021-02-14 04:20] NiaNingXue opened #141 "ClassCastException:com.facebook.ads.redexgen.X.Th.A0I"
Hi, I update the audience network sdk to 6.2.1, crash happens on many users' devices, include android 6.0 - android 10.
The previous version I use is 5.11.0 and has no this issue.

com.facebook.ads.redexgen.X.Th.A0I
com.facebook.ads.redexgen.X.5C.registerViewForInteraction
com.facebook.ads.NativeAd.registerViewForInteraction NativeAd.java:8
com.sample.app.ad.view.NativeAdView.bindNativeAd NativeAd

[2021-03-03 09:20] appsapiconsole opened #143 "NullPointerException at DynamicLoaderImpl.java"
Facebook Audience Network Version 6.3.0
java.lang.NullPointerException: Attempt to read from null array at com.facebook.ads.internal.dynamicloading.DynamicLoaderImpl.createAudienceNetworkAdsApi(DynamicLoaderImpl.java:137) at com.facebook.ads.internal.dynamicloading.DynamicLoaderFactory.doCallInitialize(DynamicLoaderFactory.java:161) at com.facebook.ads.internal.dynamicloading.DynamicLoaderFactory.

[2021-03-05 13:23] RR-Reddy opened #144 "Is there any plans to create a new sdk for flutter mobile apps ( android and IOS)"
Is there any plans to create a official new sdk for flutter mobile apps ( android and IOS)

[2021-03-09 09:42] dasebasto commented on #132
The crash is still occurring with v6.2.1 in production.
I have opened a case at https://developers.facebook.com/support/bugs

[2021-03-09 10:58] Faboor commented on #104
Instream ads have been deprecated and referenced code removed.

[2021-03-09 10:58] #104 closed

[2021-03-09 11:00] Faboor commented on #100
Versions before 5.4 have been deprecated, please update to a newer version.

[2021-03-09 11:00] #100 closed

[2021-03-09 11:02] Faboor commented on #106
Instream ads have been deprecated.

[2021-03-09 11:02] #106 closed

[2021-03-09 15:23] Faboor commented on #120
Please provide a full error stacktrace and SDK version you're using.
However, mostly like you're passing an null `Context` object when initialising the SDK or getting the bidder token or a null ad object when creating an `Native[Banner]AdView`.

Closing, as this report is not actionable.

[2021-03-09 15:23] #120 closed

[2021-03-09 15:40] Faboor commented on #137
In our sample we use the method [`NativeAdRecyclerAdapter.getItemViewType(int position)`](https://github.com/fbsamples/audience-network/blob/0012cec54125caed324246e62ec812dad9bf0a64/samples/android/AdUnitsSample/src/main/java/com/facebook/samples/AdUnitsSample/adapters/NativeAdRecyclerAdapter.java#L77) to decide whether we want to show an ad or not. If you are using our sample adapter, you can cha

[2021-03-09 15:48] Faboor commented on #123
Please provide the error code and error message from the `AdError`. Most likely you have misconfigured your placement. See https://developers.facebook.com/docs/audience-network/guides/test/checklist-errors/ for most common errors.

Closing as report not actionable.

[2021-03-09 15:48] #123 closed

[2021-03-11 09:17] dasebasto commented on #132
Just upgraded to v6.3.0, and the crash still occurs.

Anyone else still impacted?

[2021-03-12 19:25] tksolution commented on #132
Yes I have the same problem with 6.2.1 & 6.3.0 I will remove facebook until they fix this issue. For me I see thousands of crashes everyday after samsung start to upgrade more and more devices to android 11.
Not very happy with that!

[2021-03-12 21:13] billyking991 commented on #132
I'm still getting it as well with 6.3.0 installed.  I'm downgrading back to 5.11.0.  That was the last version that worked for me, though I've been told that the 6.0.0 doesn't have the code that will cause the crash.

[2021-03-13 05:35] dirkam commented on #132
That's right, I can see this again with a high number of occurrences.

This is a critical bug, it's crazy how it's handled, truly disappointing.

[2021-03-13 16:57] tksolution commented on #132
I want to inform you that I still get this crash after removing the audience network sdk completely. Regarding to this [thread](https://groups.google.com/forum/embed/#!topic/google-admob-ads-sdk/UaO99wzCL28) admobs 19.7 sdk is also a possible source of crashing. Anybody else have this problem?

[2021-03-13 17:45] obigu commented on #132
6.2.1 fixed the issue in my case. I'm not using AdMob 19.7 which seems to have a similar problem (but the stacktrace is different, check the package "com.facebook.ads.internal." appears on the error stacktrace).

[2021-03-17 04:01] masumh commented on #144
Please help me automatic response

[2021-03-19 10:28] sharoni commented on #125
Issue resolved in AN SDK 6.3.0

[2021-03-19 10:28] #125 closed

[2021-03-19 10:29] sharoni commented on #133
Hi @viktorcode, are you getting the same error with 6.3.0 version of AN SDK?

[2021-03-19 10:31] sharoni commented on #131
Hi @pm-preety-narvekar , please make sure ATE flag is set correctly as per instructions [here](https://developers.facebook.com/docs/audience-network/guides/advertising-tracking-enabled).

[2021-03-19 10:31] sharoni commented on #111
Issue has been resolved.

[2021-03-19 10:31] #111 closed

[2021-03-19 10:58] viktorcode commented on #133
FBAudienceNetwork.framework v6.3.0
FBSDKCoreKit.framework v9.1.0
Xcode v12.4

The sample now builds and runs fine with Link-Time Optimisation on Monolithic.

[2021-03-19 10:58] #133 closed

[2021-03-19 13:30] sharoni commented on #102
This issue had been addressed.

[2021-03-19 13:30] #102 closed

[2021-03-19 13:31] sharoni commented on #144
Hi @RR-Reddy, thanks for reaching out. At the moment there are no such plans.

[2021-03-19 13:31] #144 closed

[2021-03-23 17:43] gwheet commented on #101
According to facebook's [documentation](https://developers.facebook.com/docs/audience-network/guides/test/checklist-errors#errors), ad request frequency has certain limit and you should wait 30 minutes before making an other ad request if you received this error.

For further questions, please use the online [publisher support portal](https://www.facebook.com/business/publishersupport?hc_location=

[2021-03-23 17:43] #101 closed

[2021-03-24 12:44] gwheet commented on #107
The bug was fixed in 5.6.1 SDK: https://developers.facebook.com/docs/audience-network/changelog-android/#5_6_1

If you are having other technical issues or experiencing bugs, please use the [bug report tool](https://www.facebook.com/business/publishersupport?hc_location=ufi) to report a bug on Audience Network.

[2021-03-24 12:44] #107 closed

[2021-03-24 12:53] gwheet commented on #109
Small number of these errors is acceptable. Please upgrade to the latest SDK and use the [bug report tool](https://developers.facebook.com/support/bugs/) if you still experience these issues.

[2021-03-24 12:53] #109 closed

[2021-03-24 16:28] #117 closed

[2021-03-25 09:34] sergiambel commented on #143
Same error here

[2021-03-25 15:24] gwheet commented on #122
The SDK includes variety of ad formats for the best monetisation that naturally increases the size. We don't have immediate plans to address this problem.
If size is absolutely critical for you, you can try to extract ads SDK into separate dynamically downloadable module: https://developer.android.com/guide/app-bundle/play-feature-delivery

[2021-03-25 15:24] #122 closed

[2021-03-28 02:13] NaveenDevrani commented on #143
same issue i am facing , please fix this issue very soon, lot's of user effected with this crash
![Screenshot (4)](https://user-images.githubusercontent.com/37726754/112740265-2ba60180-8f99-11eb-8f1e-382c50f233ec.png)

[2021-03-29 12:37] mmathieum commented on #143
I posted a bug report on Facebook as I'm not sure anyone at Facebook is seeing this:
https://developers.facebook.com/support/bugs/208906161009896/

[2021-03-30 18:01] billyking991 opened #146 "Advanced Bidding With MoPub"
I cannot proper documentation on how to initialize Facebook Audience Network with MoPub for Advanced Bidding.  I know you have to initialize FAN prior to initializing MoPub, but I can't find a code sample showing how to do it with either:

1. initializeWithSettings (How do I set up FBAdInitSettings?) or
2. initWithPlacementIDs (What is the correct String for mediationService using MoPub?)

Can you

[2021-03-31 12:16] daniel-huri commented on #110
Hey. it is not clear enough what was asked here or if you wish to ask for a feature or report a bug.
Closing this issue for now as it seems to a stale thread.

[2021-03-31 12:16] #110 closed

[2021-03-31 12:18] daniel-huri commented on #105
Please update to the latest SDK version and report back if the issue still is happening. Closing for now as it seems to be a stale thread.

[2021-03-31 12:18] #105 closed

[2021-03-31 12:18] daniel-huri commented on #103
Please upgrade to the latest SDK version and report back if the problem persists.

[2021-03-31 12:18] #103 closed

[2021-03-31 12:21] daniel-huri commented on #121
You can regenerate the ad unit view and call load on the ad.
Please refer to the sample apps provided in the repository for extended examples

[2021-03-31 12:21] #121 closed

[2021-03-31 21:07] gwheet commented on #124
Audience Network not always can provide you an ad. You can read more about fill rate here: https://www.facebook.com/business/help/1673395492911956. Also make sure that you are using the latest SDK that has latest fixes.

[2021-03-31 21:07] #124 closed

[2021-03-31 21:37] gwheet commented on #143
Thanks for posting the bug report on Facebook. The engineering team is looking into this issue, please use https://developers.facebook.com/support/bugs/208906161009896/ to track progress.

[2021-03-31 21:37] #143 closed

[2021-03-31 21:56] gwheet commented on #141
It's probably happens because you add MediaView directly into Activity root layout (ViewRootImpl). Create some child layout under ViewRootImpl, for example, FragmentLayout and add MediaView inside this layout. It should fix the issue.

[2021-03-31 21:56] #141 closed

[2021-04-07 17:09] JoseMoreira3A commented on #132
Tengo el mismo problema no puedo solucionarlo, quien logro solucionarlo? ayuda porfavor

[2021-04-09 11:58] sherifelkhatib commented on #114
Hey @saadbzu, please make sure you are using the latest version of the SDK and you are following the best practices to integrate the SDK.
In case the problem persists, please use the [publisher support portal](https://www.facebook.com/business/publishersupport).

[2021-04-09 11:58] #114 closed

[2021-04-12 09:39] sherifelkhatib commented on #136
Hey @JacoblLee, please make sure you are are following the samples provided.

[2021-04-12 09:39] #136 closed

[2021-04-13 10:54] sherifelkhatib commented on #115
Hey @icefoggy,
For policy questions, please review the [Audience Network Support documentation](https://developers.facebook.com/docs/audience-network/support) and contact us via the support portal linked there.

[2021-04-13 10:54] #115 closed

[2021-04-14 02:47] sherifelkhatib commented on #127
Hey, please follow the sample code provided and if the problem persists, please use the [publisher support portal](https://www.facebook.com/business/publishersupport).

[2021-04-14 02:47] #127 closed

[2021-04-15 10:04] sherifelkhatib commented on #108
Hey @louisguitton, please check the latest documentation and if the problem persists, please report it on the [publisher support portal](https://www.facebook.com/business/publishersupport).

[2021-04-15 10:04] #108 closed

[2021-04-27 07:40] appsapiconsole opened #147 "java.lang.NullPointerException: Attempt to read from null array"
Fatal Exception: java.lang.NullPointerException: Attempt to read from null array
       at com.facebook.ads.internal.dynamicloading.DynamicLoaderImpl.createAudienceNetworkAdsApi(DynamicLoaderImpl.java:137)
       at com.facebook.ads.internal.dynamicloading.DynamicLoaderFactory.doCallInitialize(DynamicLoaderFactory.java:159)
       at com.facebook.ads.internal.dynamicloading.DynamicLoaderFactory.ac

[2021-04-27 16:51] IhaYarre opened #148 "java.lang.NoClassDefFoundError: Failed resolution of: Lcom/facebook/ads/internal/api/Repairable;"
**java.lang.NoClassDefFoundError: Failed resolution of: Lcom/facebook/ads/internal/api/Repairable;**
        at dalvik.system.DexFile.defineClassNative(Native Method)
        at dalvik.system.DexFile.defineClass(DexFile.java:296)
        at dalvik.system.DexFile.loadClassBinaryName(DexFile.java:289)
        at dalvik.system.DexPathList.findClass(DexPathList.java:418)
        at dalvik.system.BaseD

[2021-04-29 06:36] pankaj-nikam opened #149 "Any plans for Flutter SDK?"
Hi team,

I appreciate your time you invest in the SDK, however there is no official SDK available on Flutter platform. Is there any plan for having an official SDK for Audience Network?

Please guide.

Thanks.

[2021-04-29 06:37] #149 closed

[2021-04-29 09:50] onur-simsek commented on #146
Hi,

Both of the methods (and more) are called by the 'adapter'. List of MoPub adapters for various Ad networks can be seen at the https://developers.mopub.com/publishers/mediation/integrate/ page.

Following instructions on https://developers.mopub.com/publishers/mediation/networks/facebook/ should be sufficient for successful initialization.

[2021-04-29 09:50] #146 closed

[2021-05-17 14:15] onur-simsek commented on #148
Hi,
If you are still having this issue, can you use the bug report (https://developers.facebook.com/support/bugs/) tool to report this?

[2021-05-17 14:16] onur-simsek commented on #147
Hi,
If you are still having this issue, can you use the bug report (https://developers.facebook.com/support/bugs/) tool to report this?

[2021-05-17 14:16] #147 closed

[2021-06-17 02:58] thelifeofgame opened #151 "Audience-network-sdk crash: signal 7 (SIGBUS), code 2 (BUS_ADRERR)"
I'm seeing a large number fo crashes after moving to Facebook Android Audience Network 6.4.0  on Android 10. I'm getting a large number of crashes that look very similar.

Here are the stack traces:
#00  pc 00000000005924b8  /apex/com.android.runtime/lib64/libart.so (artQuickToInterpreterBridge+900)
  #00  pc 0000000000140468  /apex/com.android.runtime/lib64/libart.so (art_quick_to_interpreter_bri

[2021-06-17 02:59] #151 closed

[2021-06-20 16:15] anshuman2166AppproDev opened #152 "Do i need any code modification in order to use Bidding?"
In order to use bidding, do i need to modify anything in code ?

[2021-06-20 16:15] #152 closed

[2021-07-17 17:08] SodaSurfer commented on #146
@onur-simsek
I'm sorry but your answer isn't satisfying.
in the page you mentioned: https://developers.mopub.com/publishers/mediation/integrate/
there is no mentioning of the string that we need to pass when initializing the FBAdInitSettings object (what is the exact string we need to pass as "mediationService" when working with Mopub?)

and the instructions in  https://developers.mopub.com/publis

[2021-07-31 07:34] friendofthai opened #154 "AdUnitsSample"
AdUnitsSample[13815:954578] Ad failed to load with error: Error Domain=com.facebook.ads.sdk Code=1001 "No fill" UserInfo={NSLocalizedDescription=No fill, FBAdErrorDetailKey={
    msg = "No fill. We are not able to serve ads to this person. Please refer to https://developers.facebook.com/docs/audience-network/faq#a12. If you are integrating Audience Network for the first time, you can use test ads

[2021-07-31 07:35] #154 closed

[2021-09-09 12:51] sahujaunpuri opened #155 "We haven't received a bid request"
`We haven't received a bid request
Check that the SDK integration is correct or use the debugger tool to identify any potential issues and fixes. Go to debugger tool`

I have not integrate any other ads in my app, still I am facing this problem. tell me what should i do now?

[2021-09-09 12:51] #155 closed

[2021-09-12 15:36] sz-ashik440 commented on #101
I am using `FBAudienceNetwork (6.6.0)` also waited 30 seconds as it is said to request every 30 sec in documentation `Your application should attempt to make another request after 30 seconds.`
But still I am seeing `10001 No fill` error.

[2021-09-16 06:56] mahimaseth1 opened #156 "Crash in carousel ads"
There is a crash in carousel ads (Native), anyone comes back to previous screen from the ad screen, there is a crash
![telegram-cloud-photo-size-5-6204051083815398552-y](https://user-images.githubusercontent.com/66276012/133563942-7060f159-29a3-4a6c-afe5-59bded861ae1.jpg)

java.lang.IllegalArgumentException: (Wrong state class, expecting View State but received class com.facebook.ads.internal.util

[2021-09-16 06:56] #156 closed

[2021-09-18 02:19] JasonWang6 commented on #132
I have the same issue with you,but my Facebook Android Audience Network version is 6.+ .And my problem occur on Android 10.

[2021-12-01 09:09] superdiazzz opened #159 "Crash for android version S: Targeting S+ (version 31 and above) requires that one of FLAG_IMMUTABLE or FLAG_MUTABLE be specified when creating a PendingIntent."
I got this issue after upgrate targetSdkVersion to 31, i use this dapendency

[code]

and i initialized my apps with this snippet code in Application class

[code]

[code]

Somebody, Please help me

[2021-12-01 09:09] #159 closed

[2021-12-11 16:28] vIKRam075 opened #160 "Issue In Pagination Using RecyclerView with NativeAds."
Hello, I am facing problem in integrating pagination with recyclerview that have native ads as another veiwholder, i am using diffutil with recyclerveiw. Guide me if you have any suggestion

[2021-12-11 16:29] #160 closed

[2022-04-02 06:33] Jonas-Mui opened #161 "java.lang.NullPointerException（Native Ads）"
java.lang.NullPointerException:
  at com.facebook.ads.redexgen.X.MD.A06 (:44300)
  at com.facebook.ads.redexgen.X.U3.onTouch (:55606)
  at android.view.View.dispatchTouchEvent (View.java:12625)
  at android.view.ViewGroup.dispatchTransformedTouchEvent (ViewGroup.java:3172)
  at android.view.ViewGroup.dispatchTouchEvent (ViewGroup.java:2799)
  at android.view.ViewGroup.dispatchTransformedTouchEvent

[2022-04-02 06:33] #161 closed

[2022-04-02 06:33] Jonas-Mui commented on #161
Audience Network SDK 6.8.0

[2022-05-06 02:49] shahzad1 opened #162 "java.lang.NoSuchMethodError: No virtual method getActivityStack()Ljava/util/Deque; in class Lcom/facebook/ads/internal/util/common/ANActivityLifecycleCallbacksListener; or its super classes (declaration of 'com.facebook.ads.internal.util.common.ANActivityLifecycleCallbacksListener' appears in /data/app/~~7tJmlt81DQZMlKSTo3o2Kg==/com.example.packagename-BZxNJejp3GkrxQKbKECguQ==/base.apk)"
I added Admob Facebook mediation but causing a crash on the app startup.
Used below SDK:
`implementation 'com.google.ads.mediation:facebook:6.8.0.1'`

[2022-05-06 02:49] #162 closed

[2022-05-13 17:42] shahzad1 opened #163 "Facebook-Admob mediation not working"
Hi, I'm trying to add Admob-Facebook mediation but my app is crashing after adding the mediation dependency:
implementation 'com.google.android.gms:play-services-ads:20.6.0' implementation 'com.google.ads.mediation:facebook:6.10.0.0'

Below is the complete crash log
`
java.lang.NoSuchMethodError: No virtual method getActivityStack()Ljava/util/Deque; in class Lcom/facebook/ads/internal/util/common/

[2022-05-13 17:43] #163 closed

[2022-06-02 06:38] wishygupta opened #164 "Exception on native ad sample fro android"
Seeing this issue on Android Kotlin sample for native ad

`2022-06-02 12:06:17.530 11853-11853/com.facebook.samples.AdUnitsSample E/ViewConfiguration: Tried to access UI constants from a non-visual Context:com.facebook.ads.redexgen.X.Xy@a7e998UI constants, such as display metrics or window metrics, must be accessed from Activity or other visual Context. Use an Activity or a Context created with Co

[2022-06-02 06:38] #164 closed

[2022-09-16 07:53] vimalcvs opened #165 "no fill + Ad failed to load: Ads loaded too frequently"
no fill + Ad failed to load: Ads loaded too frequently

[2022-09-16 07:53] #165 closed

[2022-09-17 02:51] vimalcvs commented on #101
Bro how to resolve this problem.

[2022-10-20 11:07] francescogatto commented on #147
Same errore here

[2022-10-24 08:58] Vedantmodi39 commented on #101
@vimalcvs  please tell me the solution

[2022-11-15 02:47] Nghicv commented on #141
Hi @RodXander. I am getting the same crash. Did you resolve the issue?

[2022-11-30 06:05] momshardadevi commented on #141
hi,
I am also getting the same crash...